<?php
/**
 * Copyright © MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
/** @var \MageWorx\ShippingRules\Block\Adminhtml\Shippingrules\Quote\Edit\Tab\Conditions $block */
$element      = $block->getElement();
$jsObjectName = $block->getFieldSetId() != null ? $block->getFieldSetId() : $element->getHtmlId();
/**
 * @var \Magento\Framework\Escaper $escaper
 */
?>
<div class="control admin__field-control" data-element-class="<?= $escaper->escapeHtmlAttr(get_class($element))?>">
    <div class="rule-tree">
        <fieldset id="<?= $escaper->escapeHtmlAttr($jsObjectName) ?>"
            <?= /* @noEscape */ $element->serialize(['class']) ?> class="fieldset">
            <legend class="legend">
                <span><?= $escaper->escapeHtml($element->getLegend()) ?></span>
            </legend>
            <br>
            <?php if ($element->getComment()): ?>
                <div class="messages">
                    <div class="message message-notice"><?= $block->escapeHtml($element->getComment()) ?></div>
                </div>
            <?php endif; ?>
            <div class="rule-tree-wrapper">
                <?= $element->getChildrenHtml() ?>
            </div>
        </fieldset>
    </div>
</div>
<script type="text/x-magento-init">
{
    "*": {
        "MageWorx_ShippingRules/js/rule/conditions":{
            "jsObjectName" : "<?= /* @noEscape */ $jsObjectName ?>",
            "childUrl" : "<?= /* @noEscape */ $block->getNewChildUrl() ?>",
            "isReadonly" : "<?= /* @noEscape */ $element->getReadonly() ?>"
        }
    }
}
</script>
