<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
	<div class="payment-method-title field choice">
		<input type="radio"
			   name="payment[method]"
			   class="radio"
			   data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
		<label data-bind="attr: {'for': getCode()}" class="label">
			<img data-bind="attr: {src: getPaymentImageSrc(), alt: $t('Secure Debit / Credit Card Payment')}"
				 class="payment-icon p3"/>
			<span data-bind="text: getTitle()"></span>
		</label>
	</div>
	<div class="payment-method-content">
		 <!-- ko foreach: getRegion('messages') -->
		<!-- ko template: getTemplate() --><!-- /ko -->
		<!--/ko-->
		<div class="payment-method-billing-address">
			<!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
			<!-- ko template: getTemplate() --><!-- /ko -->
			<!--/ko-->
		</div>
		<div class="checkout-agreements-block">
			<!-- ko foreach: $parent.getRegion('before-place-order') -->
				<!-- ko template: getTemplate() --><!-- /ko -->
			<!--/ko-->
		</div>

		<!-- ko if: document.cookie.indexOf('P3_PaymentGateway_IntegrationMethod=hosted') > -1 -->
		<p>You will be redirected to the Gateway to complete payment.</p>
		<fieldset data-bind="attr: {class: 'fieldset payment items ccard ' + getCode(), id: 'payment_form_' + getCode()}">
			<input type='hidden' name='submit' value='1'/>
		</fieldset>
		<!-- /ko -->
		<!-- ko if: document.cookie.indexOf('P3_PaymentGateway_IntegrationMethod=iframe') > -1 -->
		<p>You will be presented with the Gateway to complete payment.</p>
		<fieldset data-bind="attr: {class: 'fieldset payment items ccard ' + getCode(), id: 'payment_form_' + getCode()}">
			<input type='hidden' name='submit' value='1'/>
		</fieldset>
		<!-- /ko -->
		<!-- ko if: document.cookie.indexOf('P3_PaymentGateway_IntegrationMethod=direct') > -1 -->
        <fieldset data-bind="attr: {class: 'fieldset payment items ccard ' + getCode(), id: 'payment_form_' + getCode()}">
			<div class="field number required">
				<label data-bind="attr: {for: getCode() + '_cardnumber'}" class="label">
					<span>Card Number</span>
				</label>
				<div class="control">
					<input
						type="text"
						placeholder="Card Number"
						name="cardNumber"
						class="input-text required"
						data-bind="attr: {
							autocomplete: off,
							id: getCode() + '_cardnumber',
							title: $t('Card Number'),
							enable: (getCode() == isChecked())
						}"
					/>
					<div data-bind="attr: {id: getCode() + '_cardnumber_error'}" generated="true" class="mage-error"></div>
				</div>
			</div>
			<div class="field date required">
				<label data-bind="attr: {for: getCode() + '_expirymonth'}" class="label">
					<span>Expiration Date</span>
				</label>
				<div class="control">
					<div class="fields group group-2">
						<div class="field no-label month">
							<div class="control">
								<input
									type="number"
									maxlength="2"
									placeholder="MM"
									style="width:50px"
									name="cardExpiryMonth"
									class="input-text required"
									data-bind="attr: {
										autocomplete: off,
										id: getCode() + '_expirymonth',
										title: $t('Card Expiry Month'),
										enable: (getCode() == isChecked())
									}"
								/>
								<div data-bind="attr: {id: getCode() + '_expirymonth_error'}" generated="true" class="mage-error"></div>
							</div>
						</div>
						<div class="field no-label year">
							<div class="control">
								<input
									type="number"
									maxlength="2"
									style="width:50px"
									placeholder="YY"
									name="cardExpiryYear"
									class="input-text required"
									data-bind="attr: {
										autocomplete: off,
										id: getCode() + '_expiryyear',
										title: $t('Card Expiry Year'),
										enable: (getCode() == isChecked())
									}"
								/>
								<div data-bind="attr: {id: getCode() + '_expiryyear_error'}" generated="true" class="mage-error"></div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="field cvv required">
				<label data-bind="attr: {for: getCode() + '_cvv'}" class="label">
					<span>CVV</span>
				</label>
				<div class="control _with-tooltip">
					<input
						maxlength="4"
						placeholder="CVV"
						type="text"
						autocomplete="off"
						class="input-text cvv required"
						name="cardCVV"
						value=""
						data-bind="attr: {
							id: getCode() + '_cvv',
							title: $t('Card Verification Number'),
							enable: (getCode() == isChecked())
						}" />
					<div data-bind="attr: {id: getCode() + '_cvv_error'}" generated="true" class="mage-error"></div>
				</div>
			</div>
        </fieldset>
		<!-- /ko -->

		<div class="actions-toolbar">
			<div class="primary">
				<button class="action primary checkout"
						type="submit"
						data-bind="
						click: placeOrder,
						attr: {title: $t('Place Order asdfasdf')},
						css: {disabled: !isPlaceOrderActionAllowed()},
						enable: (getCode() == isChecked())
						"
						disabled>
					<span data-bind="i18n: 'Place Order'"></span>
				</button>
			</div>
		</div>
	</div>
</div>


