<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Lower Price Inquiry Approved on %product_name" product_name=$data.product_name}} @-->
{{template config_path="design/email/header_template"}}
<table>
    <tr class="email-intro">
        <td>
            <p>
                <strong>Your Lower Price Inquiry Approved</strong>
            </p>
            <p>
                <strong>Your Coupan code: {{trans "%code" code=$data.coupon_code}}</strong>
            </p>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}