<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Price Inquiry on %product_name" product_name=$data.product_name}} @-->
{{template config_path="design/email/header_template"}}

<table border="1" style="text-align: left; border-collapse: collapse; width: 100%;">
    <tr class="email-intro">
        <td colspan="2" style="padding-left:10px;">
            <h3>{{trans "Price Inquiry on %product_name" product_name=$data.product_name}}</h3>
        </td>
    </tr>
    <tr>
        <th style="padding-left:10px;">{{trans "Contact Info"}}</th>
    </tr>
    <tr class="email-information">
        <td style="padding-left:10px;">
            <table>
                <tr>
                    <td>{{trans "Name:"}}</td>
                    <td>{{trans "%name" name=$data.name}}</td>
                </tr>
                <tr>
                    <td>{{trans "Email:"}}</td>
                    <td>{{trans "%email" email=$data.email}}</td>
                </tr>
                <tr>
                    <td>{{trans "Phone:"}}</td>
                    <td>{{trans "%phone" phone=$data.phone}}</td>
                </tr>
                <tr>
                    <td>{{trans "Note:"}}</td>
                    <td>{{trans "%note" note=$data.note}}</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <th style="padding-left:10px;">{{trans "Product Info"}}</th>
    </tr>
    <tr class="email-information">
        <td style="padding-left:10px;">
            <table>
                <tr>
                    <td>{{trans "Product Name:"}}</td>
                    <td>{{trans "%product_name" product_name=$data.product_name}}</td>
                </tr>
                <tr>
                    <td>{{trans "Product Link:"}}</td>
                    <td>{{trans "%product_link" product_link=$data.product_link}}</td>
                </tr>
                <tr>
                    <td>{{trans "Product ID:"}}</td>
                    <td>{{trans "%product_id" product_id=$data.product_id}}</td>
                </tr>
                <tr>
                    <td>{{trans "Our Price:"}}</td>
                    <td>{{trans "%price" price=$data.product_price}}</td>
                </tr>
                <tr>
                    <td>{{trans "Their Price:"}}</td>
                    <td>{{trans "%price" price=$data.price}}</td>
                </tr>
                <tr>
                    <td>{{trans "Shipping:"}}</td>
                    <td>{{trans "%shipping_handling" shipping_handling=$data.shipping_handling}}</td>
                </tr>
                <tr>
                    <td>{{trans "Sales Tax:"}}</td>
                    <td>{{trans "%sales_tax" sales_tax=$data.sales_tax}}</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <th style="padding-left:10px;">{{trans "Where Found"}}</th>
    </tr>
    <tr class="email-information">
        <td style="padding-left:10px;">
            <table>
                <tr>
                    <td>{{trans "Website URL:"}}</td>
                    <td>{{trans "%website" website=$data.website}}</td>
                </tr>
                <tr>
                    <td colspan="2">{{trans "-or-"}}</td>
                </tr>
                <tr>
                    <td>{{trans "Store Name:"}}</td>
                    <td>{{trans "%store_name" store_name=$data.store_name}}</td>
                </tr>
                <tr>
                    <td>{{trans "City:"}}</td>
                    <td>{{trans "%city" city=$data.city}}</td>
                </tr>
                <tr>
                    <td>{{trans "State:"}}</td>
                    <td>{{trans "%state" state=$data.state}}</td>
                </tr>
                <tr>
                    <td>{{trans "Zip Code:"}}</td>
                    <td>{{trans "%zip_code" zip_code=$data.zip_code}}</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}