/**
 * WARNING: Do not change this file. Your changes will be lost.
 * 2023-02-06 15:08:20 */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');body.boxed {
}
@media (min-width: 768px) {
    .page-layout-1column .product-info-main, .page-layout-2columns-left .product-info-main, .page-layout-2columns-right .product-info-main, .page-layout-3columns .product-info-main,.page-product-downloadable .product-options-bottom {
        width: 57.17%;
    }
    .page-layout-1column .product.media, .page-layout-2columns-left .product.media, .page-layout-2columns-right .product.media, .page-layout-3columns .product.media,.page-product-downloadable .product-options-wrapper {
        width: 40.83%;
    }

    .page-layout-1column .column.main > .custom-block ~ .product-info-main, .page-layout-2columns-left .column.main > .custom-block ~ .product-info-main, .page-layout-2columns-right .column.main > .custom-block ~ .product-info-main, .page-layout-3columns .column.main > .custom-block ~ .product-info-main {
        width: 42.8775%;
    }
    .page-layout-1column .column.main > .custom-block ~ .product.media, .page-layout-2columns-left .column.main > .custom-block ~ .product.media, .page-layout-2columns-right .column.main > .custom-block ~ .product.media, .page-layout-3columns .column.main > .custom-block ~ .product.media {
        width: 30.6225%;
    }
}

body {
    line-height: 22px;
    letter-spacing: 0;
}
p,li {
    letter-spacing: 0;
    line-height: 22px;
}
@media (min-width: 1440px) {
.layout-1220 .block.category.event, .layout-1220 .footer.content, .layout-1220 .header.content, .layout-1220 .navigation, .layout-1220 .page-main, .layout-1220 .page-wrapper>.breadcrumbs >ul, .layout-1220 .page-wrapper>.page-bottom, .layout-1220 .page-wrapper>.widget, .layout-1220 .top-container,.layout-1220 .container {
    max-width: 1440px;
}
}
@media (max-width: 575px){
body {
    font-size: 13px;
    line-height: 21px;
}
}
h1, h2, h3, h4, h5, h6 {
    font-family: Poppins,sans-serif;
    color: #222529;
    letter-spacing: normal;
}
h1 {
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    margin: 0 0 32px 0;
}
h2 {
    font-weight: 400;
    font-size: 32px;
    line-height: 52px;
    margin: 0 0 32px 0;
}
h3 {
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
    margin: 0 0 20px 0;
}
h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    margin: 0 0 14px 0;
}
h5 {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -.325px;
    color: #666;
    margin: 0 0 14px 0;
}
h6 {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 14px 0;
}
.home-banner-slider h2.vc_custom_heading, .custom-font4 {
    font-family: 'Segoe Script','Savoye LET';
}
html .heading-secondary, html .lnk-secondary, html .text-color-secondary {
    color: #ff7272;
}
html .btn-modern {
    text-transform: uppercase;
    font-size: .75rem;
    padding: .75rem 1.5rem;
    font-weight: 600;
    height: auto;
}
.product-item-name,.product-item-name a {
white-space: inherit;
}
html .action.primary, html .btn {
    font-family: Poppins;
    letter-spacing: .01em;
    font-weight: 700;
    line-height: 1.42857;
    padding: .8em 2em;
}
html .btn-modern {
    font-size: .8125rem;
    padding: 1em 2.8em;
}
html .action.primary {
    color: #fff;
    background-color: #6f872a;
    border-color: #6f872a #6f872a #3e8b51;
}
html .btn-xl {
    font-size: 1rem;
    padding: .8rem 2rem;
}
.btn-modern.btn-xl {
    font-size: 1rem;
    padding: 1.25em 3.125em;
}
.btn-flat {
    padding: 0!important;
    background: none!important;
    border: none!important;
    border-bottom: 1px solid transparent!important;
    box-shadow: none!important;
    text-transform: uppercase;
    font-size: .75rem;
}
html .btn-dark {
    color: #fff;
    background-color: #222529;
    border-color: #222529 #222529 #0b0c0e;
}
html .btn-light {
    color: #222529;
    background-color: #fff;
    border-color: #fff #fff #e6e6e6;
}
html .btn-quaternary {
    color: #fff;
    background-color: #000;
    border-color: #000 #000 #000;
}
html .background-color-secondary {
    background-color: #f4a085 !important;
}
.top-icon .porto-sicon-header {
    margin-bottom: .75rem;
}
.wel-msg i {
    font-size: 23.68px;
    color: #6f872a;
}
.page-wrapper > .breadcrumbs .items {
    position: relative;
    margin-bottom: 47px;
    padding-bottom: 13px;
    padding-top: 24px;
}
.page-wrapper > .breadcrumbs .items:after {
    content: '';
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 0;
    border-bottom: 1px solid #e7e7e7;
}
.footer .widgettitle, .footer .widget-title {
    font-size: .9375rem;
    font-weight: 600;
}
html .background-color-secondary {
    background-color: #ff7272!important;
}
.footer, .footer p {
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0;
}
.footer .widgettitle, .footer .widget-title {
    font-size: .9375rem;
    font-weight: 700;
}
.footer-top .custom-block:before,.footer-top .custom-block:after {
    margin-bottom: 0;
    border: none;
    margin-top: 0;
}
.footer-middle > .container::after {
     border-color: #585858;
}
.footer .block.newsletter .form.subscribe {
    margin-bottom: 10px;
}
.footer .newsletter input {
    height: 3rem;
    padding-left: 1.25rem;
    background: #f4f4f4;
    border-radius: 0;
}
.footer .newsletter .action.subscribe {
    height: 3rem;
    font-weight: 600;
    border-radius: 0;
    border: none;
    letter-spacing: .15em;
}
.footer .widget>div>ul li {
    margin-bottom: 14px;
}
.footer-middle > .container {
    padding-top: 3.7rem;
    padding-bottom: 1rem;
}
.footer-bottom address {
    text-align: center;
    padding-top: 24px;
    padding-bottom: 8px;
    font-size: 13px;
    letter-spacing: -.025em;
    color: #bdbdbd;
}
.footer-bottom {
    font-size: 1em;
    padding-bottom: 54px;
    padding-top: 0;
}

.sw-megamenu.navigation.side-megamenu li.level0 > a > span:not(.cat-label){
    color:#fff;
}

#cookie-status {
    display: none;
}

.footer .widget-title {
    color: #fff;
    border-bottom: 3px solid #98ce2c;
    padding-bottom: 11px;
}

.footer-middle a {
    color: #bdbdbd;
}

.footer-middle {
    background-color: #2e2e2e;
}

.footer-bottom {
    background-color: #2e2e2e !important;
}
.category-view .category-description {
    display: none;
}
.product-item-name a {
    white-space: normal !important;
}
#product-options-wrapper span {
     color: #262626;
}
.mageworx-swatch-option {
    border-radius: 100% !important;
}
.contact-block-1 {
    -webkit-box-shadow: 0px -11px 27px 3px rgba(0,0,0,0.27); 
    box-shadow: 0px -11px 27px 3px rgba(0,0,0,0.27);
}
.contact-block-2 {
    -webkit-box-shadow: 0px -11px 27px 3px rgba(0,0,0,0.27); 
    box-shadow: 0px -11px 27px 3px rgba(0,0,0,0.27);
}
.contact-block-3 {
    -webkit-box-shadow: 0px -11px 27px 3px rgba(0,0,0,0.27); 
    box-shadow: 0px -11px 27px 3px rgba(0,0,0,0.27);
}
.porto-block-sidebar {
    margin-top: 60px;
    margin-left: 20px;
}
.container a {
  color: #FF0000;
  text-decoration: none;
}
.feature-box {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: #6f872a36;
  padding: 25px;
  margin: 20px;
  box-shadow: rgb(111 135 42 / 40%) 0px 5px, rgb(111 135 42 / 30%) 0px 10px, rgb(111 135 42 / 20%) 0px 15px, rgb(111 135 42 / 10%) 0px 20px, rgb(111 135 42 / 5%) 0px 25px;
}
#beckgrownd {
    background: #6f872a;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: rgb(111 135 42 / 40%) 0px 5px, rgb(111 135 42 / 30%) 0px 10px, rgb(111 135 42 / 20%) 0px 15px, rgb(111 135 42 / 10%) 0px 20px, rgb(111 135 42 / 5%) 0px 25px;
}
#textinnit {
   color: #fff;
   font-family: Poppins,sans-serif;
   letter-spacing: .1em;
   font-weight: 700;
}
#beckgrownd3 {
   background: #222529;
   border-radius: 10px;
   padding: 15px;
   text-align: center;
   box-shadow: rgb(34 37 41 / 40%) 0px 5px, rgb(34 37 41 / 30%) 0px 10px, rgb(34 37 41 / 20%) 0px 15px, rgb(34 37 41 / 10%) 0px 20px, rgb(34 37 41 / 5%) 0px 25px;
}
.sticky-product {
   padding: 78px 0 15px 0 !important;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

@media (min-width: 992px){
.sw-megamenu.navigation li.level0:nth-child(3) > .submenu ul.subchildmenu > li.level1:nth-child(2) > .subchildmenu {
	-webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

.sw-megamenu.navigation li.level0:nth-child(3) > .submenu ul.subchildmenu .menu-bottom-block {
    margin-top: 40px;
}
.sw-megamenu.navigation li.level0:nth-child(3) > .submenu ul.subchildmenu > li.level1:nth-child(2){
    width: 50%;
}
.sw-megamenu.navigation li.level0:nth-child(3) > .submenu ul.subchildmenu > li.level1:nth-child(3){
    position: absolute;
    left: 0;
    right: auto;
    top: 175px;
}
.featureColz {
    list-style: none;
    text-align: left;
    border: 1px solid #cccccc4d;
    padding: 20px 15px;
    width: 47%;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    background: #f7f7f7;
}
#featIcon {
    float: left;
    margin-right: 20px;
    font-size: 50px;
    width: 60px;
    text-align: center;
    color: #6f872a;
}
#featTitle {
    text-align: left;
    font-size: 26px;
}
#featDesc {
    font-size: 12px;
    line-height: 20px;
}
.fotorama--fullscreen .fotorama__fullscreen-icon {
bottom: auto;
top: 50px;
}
.pagebuilder-slider {
    object-fit: contain;
}
.featCat { 
    background: #bfbfbf;
    font-weight: 800;
    color: #1f1f1f;
}
zf {
    border-bottom: 1px solid #bfbfbf;
    line-height: 1em;
    margin: 0;
    padding: 8px 16px;
    font-size: 15px;
    text-transform: uppercase;
    float: left;
    width: 100%;
    box-sizing: border-box;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    color: #2b2b2b;
}
.featureName { 
    float: left;
}.mageworx-swatch-option {
    border-radius: 100% !important;
}
.contact-head {
	color: #fff;
}
.final-msg {
    font-weight: bold;
    color: #ff0000;
}
@media (min-width: 992px) {
.page-layout-2columns-right .sw-megamenu.navigation.side-megamenu li.level0.fullwidth>.submenu, .page-layout-2columns-right .sw-megamenu.navigation.side-megamenu li.level0.staticwidth>.submenu {
    left: 100% !important;
    right: auto !important;
}
.page-layout-2columns-right .sw-megamenu.navigation.side-megamenu li.level0>a>span:not(.cat-label) {
    order: 2;
    text-align: left;
}
.page-header .header-bottom .main-toggle-menu.closed .sw-megamenu .level0 .level-top span {
    padding-left:12px; 
}
.fotorama--fullscreen .fotorama__fullscreen-icon {
bottom: auto;
top: 50px;
}
.pagebuilder-slider {
    object-fit: contain;
}
.featCat { 
    background: #bfbfbf;
    font-weight: 800;
    color: #1f1f1f;
}
zf {
    border-bottom: 1px solid #bfbfbf;
    line-height: 1em;
    margin: 0;
    padding: 8px 16px;
    font-size: 15px;
    text-transform: uppercase;
    float: left;
    width: 100%;
    box-sizing: border-box;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    color: #2b2b2b;
}
.featureName { 
    float: left;
}
}