<?php
    $_category_desc = $this->helper('Smartwave\Porto\Helper\Data')->getConfig('porto_settings/category/category_description');
?>
<?php if ($_category_desc == "main_column" && $_description = $block->getCurrentCategory()->getDescription()): ?>
    <div class="category-description">
        <?php echo $this->helper('Magento\Catalog\Helper\Output')->categoryAttribute($block->getCurrentCategory(), $_description, 'description') ?>
        <div class="category-description-shadow"></div>
    </div>
    <div class="category-description-more-less-wrapper">
        <span data-text-more="<?= __('Read More')?>" data-text-less="<?= __('Read Less')?>"><?= __('Read More')?></span>
    </div>
<?php endif; ?>
