<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Category view template
 *
 * @var $block \Magento\Catalog\Block\Category\View
 */
?>
<?php
    $_category_desc = $this->helper('Smartwave\Porto\Helper\Data')->getConfig('porto_settings/category/category_description');
?>
<?php if (!$_category_desc && $_description = $block->getCurrentCategory()->getDescription()): ?>
    <div class="category-description">
        <?php echo $this->helper('Magento\Catalog\Helper\Output')->categoryAttribute($block->getCurrentCategory(), $_description, 'description') ?>
        <div class="category-description-shadow"></div>
    </div>
    <div class="category-description-more-less-wrapper">
        <span data-text-more="<?= __('Read More')?>" data-text-less="<?= __('Read Less')?>"><?= __('Read More')?></span>
    </div>
<?php endif; ?>
