<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
<title>Performing Maintenance</title>
<style type="text/css">
      body { text-align: center; padding: 150px; }
      h1 { font-size: 40px; }
      body { font: 20px Helvetica, sans-serif; color: #333; }
      #article { display: block; text-align: left; width: 650px; margin: 0 auto; }
      a { color: #dc8100; text-decoration: none; }
      a:hover { color: #333; text-decoration: none; }
    </style>
</head>
<body>
<div id="article">
<h1>Our site is getting a little tune up and some love.</h1>
<div>
<p>We apologize for the inconvenience, but we're performing some maintenance. You can still contact us at <a href="mailto:support@aeleisure.co.uk">support@aeleisure.co.uk</a> or call us on 01606973005. We'll be back up soon!</p>
<p>— it's always a pleasure at A&E Leisure</p>
<p style="text-align: center; font-size: 30px; padding: 30px 10px 10px 0px;">Estimated uptime</p>
<h1><p id="demo" style="text-align: center;"></p></h1>
<script>
// Set the date we're counting down to
var countDownDate = new Date("Feb 8, 2023 11:45:00").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  document.getElementById("demo").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";

  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "EXPIRED";
  }
}, 1000);
</script>
<p id="demo"></p>
</div>
</div>