<!--
/**
 * @author andy
 * @email andyworkbase@gmail.com
 * @team MageCloud
 * @package MageCloud_Sale
 */
 -->

<div class="block-sale-subscribe"
     data-bind="afterRender: setModalElement, blockLoader: isLoading"
     style="display: none">
    <div class="block block-customer-sale-subscribe">
        <div class="block-title">
            <strong role="heading"
                    aria-level="2"
                    data-bind="i18n: 'Get VIP Early Access '"></strong><br/>
            <strong role="heading"
                    aria-level="2"
                    data-bind="i18n: 'to '"></strong>
            <strong class="red"
                    role="heading"
                    aria-level="2"
                    data-bind="i18n: 'Black Friday Deals!'"></strong>
        </div>
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <!-- ko foreach: getRegion('before') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
        <div class="block-content" aria-labelledby="block-customer-heading">
            <form class="form form-sale-subscribe"
                  method="post"
                  data-bind="event: {submit: subscribe}"
                  id="sale-subscribe-form">
                <div class="fieldset subscribe" data-bind="attr: {'data-hasrequired': $t('* Required Fields')}">
                    <div class="field email required">
                        <label class="label" for="customer-email">
                            <span data-bind="i18n: 'Your Email'"></span>
                        </label>
                        <div class="control">
                            <input name="email"
                                   id="customer-email"
                                   type="email"
                                   class="input-text"
                                   data-bind="attr: {placeholder: 'Your Email'}"
                                   data-mage-init='{"mage/trim-input":{}}'
                                   data-validate="{required:true, 'validate-email':true}">
                        </div>
                    </div>
                    <div class="field shopping-for">
                        <p data-bind="i18n: 'What product do you have?'"></p>
                        <div class="fields-group">
                            <div class="field">
                                <div class="control">
                                    <label class="label shopping-for" for="shopping_for_1">
                                        <span data-bind="i18n: 'Campervan'"></span>
                                        <input name="shopping_for[]"
                                               id="shopping_for_1"
                                               type="checkbox"
                                               data-bind="value: 'Campervan'"
                                               class="">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <label class="label shopping-for" for="shopping_for_2">
                                        <span data-bind="i18n: 'Caravan'"></span>
                                        <input name="shopping_for[]"
                                               id="shopping_for_2"
                                               type="checkbox"
                                               data-bind="value: 'Caravan'"
                                               class="">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <label class="label shopping-for" for="shopping_for_3">
                                        <span data-bind="i18n: 'Motorhome'"></span>
                                        <input name="shopping_for[]"
                                               id="shopping_for_3"
                                               type="checkbox"
                                               data-bind="value: 'Motorhome'"
                                               class="">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <label class="label shopping-for" for="shopping_for_4">
                                        <span data-bind="i18n: 'Tent'"></span>
                                        <input name="shopping_for[]"
                                               id="shopping_for_4"
                                               type="checkbox"
                                               data-bind="value: 'Tent'"
                                               class="">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ko foreach: getRegion('additional-subscribe-form-fields') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                    <!-- /ko -->
                    <div class="actions-toolbar">
                        <input name="context" type="hidden" value="sale-subscribe" />
                        <div class="primary">
                            <button type="submit" class="action action-submit primary" name="submit">
                                <span data-bind="i18n: 'Get Access'"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <p class="note" data-bind="i18n: 'Miss it, Miss out...'"></p>
        </div>
    </div>
</div>