<?php
/**
 * Copyright © 2015 Ihor Vansach (ihor@magefan.com). All rights reserved.
 * See LICENSE.txt for license details (http://opensource.org/licenses/osl-3.0.php).
 *
 * Glory to Ukraine! Glory to the heroes!
 */
?>
<?php
/**
 * Blog post view template
 *
 * @var $block \Magefan\Blog\Block\Post\View
 */
?>
<?php
    $_post = $this->getPost();
    $_postUrl = $_post->getPostUrl();
    $_postName = $block->escapeHtml($_post->getTitle(), null, true);
    $_postDate = $_post->getData("publish_time");
?>
<div class="post-view">
    <div class="post-holder post-holder-<?php echo $_post->getId() ?>">
        <div class="post-banner no-banner"></div>
        <div class="custom-magefan-blog-header">
            <div class="blog-title-wrap" style="background-image: url(<?php echo $block->getBaseUrl();?>pub/media/magefan_blog/ae-blog-title-background2.png);">
                <div class="blog-title-overlay"></div>
                <div class="blog-title-container" >
                    <div class="blog-title-content"  >
                        <div class="post-date">
                            <span class="day"><?php echo date("j", strtotime($_postDate)); ?></span>
                            <span class="month"><?php echo date("M", strtotime($_postDate)); ?></span>
                        </div>
                        <h1 class="blog-title"><?php echo $_postName; ?></h1>
                    </div>
                </div>
            </div>
        </div>





<!--        <div class="post-header">-->

<!--            --><?php //echo $this->getInfoHtml() ?>
<!--        </div>-->
        <div class="post-content">
            <div class="post-description clearfix">
                <div class="post-text-hld">
                    <?php echo $block->getContent() ?>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
            <div class="post share-links">
                <a target="_blank" rel="nofollow" class="share-facebook" href="https://www.facebook.com/aeleisurecheshire/" title="Facebook"></a>
                <a target="_blank" rel="nofollow" class="share-twitter" href="https://twitter.com/aandeleisure" title="Twitter"></a>
                <a target="_blank" rel="nofollow" class="share-instagram" href="https://www.instagram.com/aeleisure_/" title="Instagram"></a>
            </div>
        <div class="post-bottom">
            <?php echo $this->getChildHtml('blog.post.bottom') ?>
        </div>
    </div>
</div>