.blog-page {
  #maincontent {
    max-width: 100% !important;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    .column.main {
      width: 100%!important;
      .post-view {
        .post-holder {
          margin-left: 0;
          border-bottom: none;
          padding-bottom: 0;
        }
      }
    }
  }
  .post-content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 15px 40px 15px;
  }
  .post-bottom {
    .post-nextprev {
      display: block;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      a {
        text-transform: uppercase;
        color: #bcbcbc;
        span {
          display: inline-block;
          color: #bcbcbc;
          vertical-align: bottom;
        }
        i {
          font-family: ElegantIcons;
          speak: none;
          font-style: normal;
          font-weight: 400;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
        }
        .arrow_left {
          float: left;
          margin-right: 15px;
        }
        .arrow_left:before {
          content: "\23";
        }
        .arrow_right {
          float: right;
          margin-left: 15px;
        }
        .arrow_right:before {
             content: "\24";
         }
      }
    }
  }
  .custom-magefan-blog-header {
    .blog-title-wrap {
      background-position: center;
      background-size: cover;
      position: relative;
      .blog-title-overlay {
        background-color: #000;
        opacity: 0.75;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
      }
      .blog-title-container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        padding: 0 15px;
        .blog-title-content {
          padding-top: 93px;
          padding-bottom: 87px;
          .post-date {
            float: left;
            width: 58px;
            border-right-width: 1px;
            border-right-style: solid;
            line-height: 1;
            margin-right: 30px;
            padding-right: 20px;
            text-align: center;
            border-color: #fff;
            margin-top: 0;
            margin-left: 0;
            .day {
              font-size: 27px;
              font-weight: bold;
              margin-bottom: 8px;
              margin-top: -4px;
              letter-spacing: 1px;
              color: #fff;
              background-color: unset;
            }
            .month {
              font-size: 14px;
              text-transform: uppercase;
              letter-spacing: 1px;
              color: #b1b1b1;
              background-color: unset;
            }
          }
          .blog-title {
            font-size: 50px;
            font-weight: 700;
            margin-bottom: 11px;
            letter-spacing: 0.5px;
            color: #fff;
            line-height: 1.2;
            overflow: hidden;
          }

        }
      }
    }
  }
  .post.share-links {
    text-align: center;
    a {
      color: #333;
      background: none;
      border-radius: 16px;
    }
    .share-facebook:hover {
     color: #fff;
      background: #3b5a9a;
    }
    .share-twitter:hover {
      color: #fff;
      background: #1aa9e1;
    }
    .share-instagram:hover {
      color: #fff;
      background: #7c4a3a;
    }
  }
}
.blog-page {
  .post-description {

    h1, h2, h3, h5 {
      font-weight: 700;
      margin-bottom: 20px;
      line-height: 1.2;
    }
    h1 {
      color: #333;
      font-size: 52px;
    }
    h3 {
      color: #494949;
      font-size: 22px;
    }
    h5 {
      color: #333;
      font-size: 22px;
    }
    ul {
      list-style-type: none;
      padding-left: 0;
    }
    a {
      color: #545454;
    }
    p, li {
      font-size: 16px;
      line-height: 1.7;
      font-weight: 400;
    }
  }
}
.blog-page-list {
  .page-title {
    display: none!important;
  }
  .post-list-wrapper {
    .post-container {
      padding: 60px 15px 30px 15px;
      .post-image {
        display: none;
      }
      .post-info {
        display: block;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        .btn-white {
          color: #fff!important;
          background: #6f872a!important;
          border-color: #6f872a!important;
        }
      }
    }
  }
  .toolbar-blog-posts {
    display: block;
    .pages {
      .item {
        .page:hover, .previous:hover, .next:hover {
          border-color: #6f872a;
        }
      }
    }
  }
}
.blog-page {
  [data-content-type='row'] {
    padding: 60px 15px 30px 15px;
  }
  .post-content {
    .post-description {
      img {
        margin: 0;
      }
    }
  }
}
@media (max-width: 426px) {
  .blog-page {
    .custom-magefan-blog-header {
      .blog-title-wrap {
        .blog-title-container {
          .blog-title-content {
            .post-date {
              display: none;
            }
            .blog-title {
              font-size: 40px;
            }
          }
        }
      }
    }
  }
}


/* trustpilot */

@media (max-width: 991px) {
  .page-header {
    .header-bottom {
      .header-row {
        display: block!important;
        .header-right {
          display: block!important;
          padding: 0;
          .trustpilot-widget-place-one {
            display: block;
          }
        }
      }
    }
    .header-main {
      .header-left, .header-right {
        padding: 20px 0 10px 0;
      }
    }
  }
}
@media (max-width: 1039px) and (min-width: 992px) {
  .page-header {
    .second-menu-block {
      margin-left: 0!important;
      .sw-megamenu {
        .level0 {
          .level-top {
            padding: 22px 0 22px 2px!important;
            span {
              padding-left: 6px!important;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1199px) and (min-width: 1040px) {
  .page-header {
    .second-menu-block {
      margin-left: 0!important;
      .sw-megamenu {
        .level0 {
          .level-top {
            padding: 22px 4px 22px 4px!important;
            span {
              padding-left: 8px!important;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1440px) and (min-width: 1200px) {
  .page-header {
    .second-menu-block {
      .sw-megamenu {
        .level0 {
          .level-top {
            padding: 22px 12px 22px 10px!important;
          }
        }
      }
    }
  }
}
@media (max-width: 1200px) and (min-width: 992px) {
  .page-header {
    .header-row.container {
      max-width: 100%;
    }
  }
}
/* mobile menu - add second menu block */
@media (max-width: 991px) {
  .page-header {
    .nav-sections-item-title {
      background: #6f872a!important;
    }
    .nav-sections-item-title.active {
      background: transparent!important;
    }
  }
  .page-header {
    .main-toggle-menu {
      .second-menu-block-mobile {
        display: block;
      }
    }
    .main-toggle-menu.closed {
      .navigation {
        .parent {
          .level-top:after {
            color: #fff;
          }
        }
        li.level0 {
          .ui-menu-item > a:before {
            color: #fff;
          }
        }
      }
      .nav-sections-item-title.active {
        .nav-sections-item-switch {
          color: #6f872a;
        }
      }
      .sw-megamenu {
        .level0.staticwidth {
          .subchildmenu {
            background-color: #6f872a;
          }
        }
        .level0, .level2 {
          background-color: #6f872a;
          a:hover {
            color: #fff!important;
          }
          a {
            color: #fff!important;
            .menu-thumb-icon {
              filter: opacity(1);
            }
            span {
              color: #fff!important;
            }
          }
          .ui-state-active {
            background-color: #6f872a;
          }
        }
        .second-menu-block-mobile {
          .level0.parent:first-child {
            border-top: 1px solid #ddd;
          }
          .level0.staticwidth {
            .subchildmenu {
              //background-color: #6f872a;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 992px) {
  .page-header {
    .main-toggle-menu {
      .second-menu-block-mobile {
        display: none;
      }
    }
  }
}
/* mobile menu */
.page-header {

}


