.cms-page-view {
    &.cms-payment-method {
        .column.main {
            .title {
                font-size: 16px;
                margin-bottom: 40px;

                p {
                    margin-bottom: 10px;
                }
            }

            .item {
                &:not(:last-child) {
                    margin-bottom: 40px;
                }

                .image-wrapper {
                    margin-bottom: 30px;
                    text-align: center;

                    img {
                        width: 100%;
                        max-width: 380px;
                    }
                }

                .payment-name {
                    display: block;
                    margin-bottom: 10px;
                    font-size: 18px;
                }

                p {
                    margin-bottom: 10px;
                }

                a {
                    display: block;
                    text-decoration: underline;
                    font-weight: bold;
                }
            }
        }
    }
}