/* custom style 26012022 */
#cookie-status {
  display: none;
}
/* subscribe */
.single-subscribe {
  .newsletter {
    .action {
      color: #fff;
      background-color: #6f872a;
      border-color: #6f872a #6f872a #3e8b51;
      font-family: Poppins;
      letter-spacing: .01em;
      font-weight: 700;
      line-height: 1.42857;
      padding: 0.8em 2em;
    }
  }
}
.newsletter-msg {
  .porto-sicon-header {
    .porto-sicon-title {
      color: #222529;
    }
  }
}

/* footer blocks */
.page-footer {
  .footer-middle {
    .widget {
      .widget-title {
        color: #ffffff;
        border-bottom: 3px solid #98ce2c;
        padding-bottom: 11px;
      }
      .textwidget {
        ul {
          li {
            margin-bottom: 14px;
            a {
              color: #bdbdbd;
            }
          }
        }
      }
    }
  }
}
.page-footer {
  .footer-middle {
    .widget {
      .textwidget {
        ul {
          li {
            a:hover {
                color: #6f872a;
              }
          }
        }
      }
    }
  }
}
/* menu */
.page-header {
  .header-bottom {
    .main-toggle-menu.closed {
      .menu-title.closed:not(:hover) {
        color: #fff !important;
      }
      .sw-megamenu {
        .level0 {
          .level-top {
            span {
              color: #fff;
            }
          }
        }
      }
    }
  }
}
.page-header {
  .header-bottom {
    .main-toggle-menu.closed {
      .sw-megamenu {
        .ui-menu-item.level0:hover, .ui-menu-item.level0:active {
          background-color: #4d5d1d;
        }
      }
    }
  }
}
/* second punk of menu - special view */
.page-header {
  .header-bottom {
    .main-toggle-menu.closed {
      .sw-megamenu {
        .ui-menu-item.level0:nth-child(2) {
          .subchildmenu {
            .ui-menu-item.level1:nth-child(4) {
              position: absolute;
              top: 300px;
            }
            .ui-menu-item.level1:nth-child(5) {
              position: absolute;
              top: 300px;
              left: 33.33%;
            }
          }
        }
      }
    }
  }
}
/*header icons*/
.page-header {
  .header-main {
    a {
      color: #282d3b;
    }
  }
}
@media (max-width: 991px) {
  .page-header {
    .header-bottom {
      .main-toggle-menu.closed {
        .sw-megamenu {
          .ui-menu-item.level0:nth-child(2) {
            .subchildmenu {
              .ui-menu-item.level1:nth-child(4) {
                position: initial;
                top: 0;
              }
              .ui-menu-item.level1:nth-child(5) {
                position: initial;
                top: 0;
                left: 0;
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: 992px) {
  .page-header {
    .minicart-wrapper {
      .action.showcart {
        color: #282d3b;
      }
    }
  }
}
@media (min-width: 1440px) {
  .layout-1220 {
      .container {
        max-width: 1440px!important;
      }
  }
}
/* block special offers */
.porto-u-heading {
  .porto-u-main-heading {
    h2 {
      color: #222529;
    }
  }
}
.product-item-info:hover {
  .product-item-details {
    .product-item-actions {
      .tocart {
        border-color: #6f872a;
        background-color: #6f872a;
      }
    }
  }
}
/* block most popular */
.product.data.items {
  .item.title {
    padding: 7px 15px!important;
    margin: 3px!important;
  }
}

/* block free shipping after main slider  */
.porto-sicon-box {
  .porto-sicon-header {
    porto-sicon-title {
      color: #222529;
    }
  }
}
/* panel top */
.page-header {
  .main-panel-top {
    background: #f4f4f4;
    .header-left {
      .wel-msg {
        i {
          font-size: 23.68px;
          color: #6f872a;
        }
        h5 {
          font-weight: 400;
          font-size: 13px;
          line-height: 18px;
          letter-spacing: -.325px;
          color: #666;
          margin: 0 0 14px 0;
        }
      }
    }
  }
}
/* block after main slider */
.updzdcontainer {
  margin-left: 100px;
  margin-right: 100px;
    .updzdcontainer-block {
      :hover {
        webkit-transform: scale(1.02);
        -moz-transform: scale(1.02);
        -o-transform: scale(1.02);
        -ms-transform: scale(1.02);
        transform: scale(1.02);
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        filter: saturate(1.4);
      }
      width: 32%;
      display: inline-block;
    }
}
@media (max-width: 1026px) and (min-width: 600px) {
  .updzdcontainer {
    margin-left: 50px;
    margin-right: 50px;
  }
}
@media (max-width: 599px) {
  .updzdcontainer {
    margin-left: 20px;
    margin-right: 20px;
    .updzdcontainer-block {
      width: 100%;
    }
  }
}
/* block of two photos */
.banner-second {
  picture {
    img {
      min-height: 200px;
    }
  }
  .porto-ibanner {
    .porto-ibanner-layer {
      h2 {
        text-align: right;
      }
    }
  }
}
.banner-first {
  picture {
    img {
      min-height: 200px;
    }
  }
  .porto-ibanner-layer {
    h2 {
      letter-spacing: 1px!important;
    }
  }
}
@media (max-width: 1399px) and (min-width: 1250px) {
  .banner-first {
    .porto-ibanner-layer {
      right: 10%!important;
    }
  }
}
@media (max-width: 1249px) and (min-width: 770px) {
  .banner-first {
    .porto-ibanner-layer {
      right: 6%!important;
      .pr-5 {
        padding-right: 0.5rem !important;
      }
    }
  }
}
@media (max-width: 769px) and (min-width: 427px) {
  .banner-first {
    .porto-ibanner-layer {
      right: 5%!important;
      .pr-5 {
        margin-right: 0 !important;
        padding-right: 0 !important;
      }
    }
  }
}
@media (max-width: 426px) {
  .banner-first {
    .porto-ibanner-layer {
      right: 8%!important;
      .ml-n-2 {
        margin-right: 0 !important;
        padding-right: 0 !important;
      }
    }
  }
}
/* page contact us */
.contact-index-index {
  .contact-info {
    .row {
      .col-md-12 {
        i {
          background-color: #6f872a;
        }
      }
      .porto-icon-adress:before {
        content: '\e883';
      }
      p {
        a {
          color: #777;
        }
      }
    }
  }
}
/* main slider */
#banner-slider-demo-33 {
  .owl-stage-outer {
    .owl-stage {
      .owl-item {
        .porto-ibanner {
          height: auto;
          picture {
            img {
              //min-height: 300px;
            }
          }
        }
      }
    }
  }
  .owl-nav {
    button {
      color: #6f872a;
      :hover {
        color: #6f872a;
      }
    }
  }
}
@media (max-width: 426px) {
  #banner-slider-demo-33 {
    .owl-stage-outer {
      .owl-stage {
        .owl-item {
          .porto-ibanner {
            //height: 200px;
            //min-height: 200px!important;
            picture {
              img {
                //min-height: 200px;
              }
            }
          }
        }
      }
    }
    .owl-nav {
      button {
        width: 30px;
        height: 60px;
      }
    }
  }
}
/* breadcrumbs */
.page-wrapper {
  .breadcrumbs {
    color: #8e8e8e;
    background: #fff;
  }
}
/* share links social on top panel */
.share-links {
  .share-facebook:before, .share-twitter:before, .share-instagram:before {
    display: none;
  }
  .share-facebook:after {
    content:"\f39e";
  }
  .share-twitter:after {
    content:"\f099";
  }
  .share-instagram:after {
    content:"\f16d";
  }
}
.share-links a:after {
  font-family: 'Font Awesome 5 Brands';
  text-indent: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  line-height: 23px;
  height: 22px;
  margin: auto;
  z-index: 2;
  box-sizing: inherit;
}
/* category awnings description */
.catalog-category-view {
  .cat-banner-select {
    .awnings-custom-block-one, .awnings-custom-block-two {
      div {
        display: inline-block;
        width: 48.5%;
        margin-left: 1%;
        margin-bottom: 1%;
        box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.43);
      }
    }
    .awnings-custom-block-three {
      div {
        display: inline-block;
        width: 23.5%;
        margin-left: 1%;
        margin-bottom: 1%;
        box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.43);
      }
    }
  }
}
.catalog-category-view {
  .cat-banner-select {
    .awnings-custom-block-one, .awnings-custom-block-two, .awnings-custom-block-three {
      div:hover {
        webkit-transform: scale(1.02);
        -moz-transform: scale(1.02);
        -o-transform: scale(1.02);
        -ms-transform: scale(1.02);
        transform: scale(1.02);
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        filter: saturate(1.4);
      }
    }
  }
}
@media (max-width: 426px) {
  .catalog-category-view {
    .cat-banner-select {
      .awnings-custom-block-three {
        div {
          width: 48.7%;
        }
        div:nth-child(1), div:nth-child(3) {
          margin-right: 1.2%;
        }
      }
    }
  }
}
@media (max-width: 426px) {
  .catalog-category-view {
    .cat-banner-select {
      .awnings-custom-block-one, .awnings-custom-block-two {
        div {
          width: 100%;
          margin-left: 0;
          margin-bottom: 1%;
        }
      }
      .awnings-custom-block-three {
        div {
          width: 48.7%;
          margin-left: 0;
          margin-bottom: 1%;
        }
        div:nth-child(1), div:nth-child(3) {
          margin-right: 1.2%;
        }
      }
    }
  }
}
@media (min-width: 1400px) {
  .catalog-category-view {
    .cat-banner-select {
      .awnings-custom-block-three {
        div {
          width: 23.6%;
        }
      }
    }
  }
}
/* logo */
@media (max-width: 991px) {
  .logo {
    img {
      max-height: inherit!important;
    }
  }
}
/* the same content block on all pages */
.the-same-row-9 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 15px 30px;
}
.the-same-row-10 {
  padding: 60px 0 0;
  .gdlr-core-pbf-wrapper.first  {
    position: relative;
    .gdlr-core-pbf-background-wrap {
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      overflow: hidden;
    }
    .gdlr-core-pbf-wrapper-content {
      position: relative;
      .gdlr-core-pbf-wrapper-container {
        padding: 0 15px;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        .gdlr-core-pbf-column {
          float: left;
          width: 25%;
          .gdlr-core-text-box-item {
            padding: 0 15px 30px;
            p {
              text-align: center;
              line-height: 1.7;
              margin-top: 0px;
              margin-bottom: 20px;
              font-size: 16px;
            }
          }
          .gdlr-core-pbf-element {
            .gdlr-core-image-item {
              padding: 0 15px 30px;
              text-align: center;
              .gdlr-core-image-item-wrap {
                overflow: hidden;
                border-radius: 50%;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                border-style: solid;
                margin-left: auto;
                margin-right: auto;
                display: inline-block;
                max-width: 100%;
                position: relative;
                a {
                  span:hover {
                    opacity: 1;
                  }
                  span {
                    border-radius: 50%;
                    -moz-border-radius: 50%;
                    -webkit-border-radius: 50%;
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    bottom: 0px;
                    left: 0px;
                    opacity: 0;
                    filter: alpha(opacity=0);
                    overflow: hidden;
                    transition: opacity 500ms ease-out;
                    -moz-transition: opacity 500ms ease-out;
                    -o-transition: opacity 500ms ease-out;
                    -webkit-transition: opacity 500ms ease-out;
                    i {
                      width: 25px;
                      font-size: 22px;
                      line-height: 25px;
                      margin-left: -11px;
                      margin-top: -11px;
                      position: absolute;
                      left: 50%;
                      top: 50%;
                      display: block;
                      text-align: center;
                      color: #fff;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .gdlr-core-pbf-wrapper.second {
    position: relative;
    clear: both;
    padding: 60px 0px 30px;
    .gdlr-core-pbf-background-wrap {
      background-color: #99ce00;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      overflow: hidden;
    }
    .gdlr-core-pbf-wrapper-content {
      position: relative;
      .gdlr-core-pbf-wrapper-container {
        text-align: center;
        padding: 0 15px;
          .gdlr-core-text-box-item-content {
            padding: 0 15px;
            p {
              margin-top: 0;
              margin-bottom: 20px;
              font-size: 16px;
            }
            h1 {
              font-size: 52px;
              margin-bottom: 20px;
              line-height: 1.2;
            }
          }
      }
    }
  }
}
@media (max-width: 426px) {
  .the-same-row-10 {
    .gdlr-core-pbf-wrapper.first {
      .gdlr-core-pbf-wrapper-content {
        .gdlr-core-pbf-wrapper-container {
          .gdlr-core-pbf-column {
            width: 100%;
          }
        }
      }
    }
  }
  .gdlr-core-pbf-wrapper {
    .gdlr-core-pbf-element {
      h1 {
        font-size: 40px!important;
      }
    }
  }
}
@media (max-width: 767px) {
  .pagebuilder-mobile-hidden {
    img {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
/* page caravan-service */
.cms-caravan-service {
  .row-1 {
    .pagebuilder-column-group {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      padding: 0 15px;
      .pagebuilder-column:nth-child(1) {
        margin-right: 30px;
      }
    }
  }
  .row-2, .row-3, .row-4, .row-5 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .row-5 {
    padding: 0 15px;
  }
  .row-1, .row-2, .row-3, .row-4, .row-5, row-6 {
    padding: 60px 0px 30px;
  }
  .row-1 {
    border-width: 1px 1px 1px 1px;
    border-color: #000;
    border-style: solid;
    clear: both;
    h2 {
      color: #383838;
      font-size: 73px;
      font-weight: 700;
      text-transform: uppercase;
      font-family: Poppins,sans-serif;
      letter-spacing: 1px;
      line-height: 1.2;
    }
  }
  .row-2 {
    figure[data-content-type='image'] {
        padding: 0 15px 30px;
    }
    [data-content-type='html'] {
      padding: 0 15px 30px;
      h3 {
        margin-top: 0px;
        margin-bottom: 20px;
        line-height: 1.2;
        font-weight: 700;
      }
      p {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 1.7;
        color:  #777;
      }
    }
  }
  .row-3 {
    .gdlr-core-price-table {
      background-color: #f8f8f8;
      margin: 45px 5px 0px;
      text-align: center;
      .gdlr-core-price-table-head {
        background: #3f917a;
        padding: 33px 20px;
        h3 {
          font-size: 17px;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 1px;
          margin-bottom: 6px;
          color: #fff;
        }
      }
      .gdlr-core-price-table-price.gdlr-core-title-font {
        background-color: #ebebeb;
        line-height: 1;
        padding: 25px 20px 40px;
        .gdlr-core-price-prefix {
          color: #323232;
          font-size: 25px;
          vertical-align: super;
        }
        .gdlr-core-price-table-price-number {
          font-size: 60px;
          font-weight: 300;
          margin: 0px 8px;
          vertical-align: middle;
          color: #323232;
        }
      }
      .gdlr-core-price-table-content-wrap {
        padding-bottom: 10px;
        .gdlr-core-price-table-content {
          padding: 10px 20px;
          .gdlr-core-price-list-shortcode {
            ul {
              margin: 0px -20px;
              padding-left: 0;
              list-style: none;
              li {
                padding: 14px 20px;
                border-bottom-width: 1px;
                border-bottom-style: solid;
                margin-bottom: 0px;
                i {
                  display: inline-block;
                  width: 25px;
                  margin-right: 8px;
                }
              }
            }
          }
        }
        .gdlr-core-price-table-button.gdlr-core-button {
          background: #3f917a;
          margin: 35px 0;
          font-size: 13px;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 0.8px;
          padding: 15px 33px;
          display: inline-block;
          -webkit-appearance: none;
          border-radius: 27px;
          -moz-border-radius: 27px;
          color: #fff;
          -webkit-border-radius: 27px;
        }
      }
    }
  }
  .row-4 {
    h3 {
      color: #383838;
      font-size: 52px;
      font-weight: 800;
      display: inline-block;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-bottom: 0px;
      transition: color 200ms;
      -moz-transition: color 200ms;
      -o-transition: color 200ms;
      -webkit-transition: color 200ms;
      padding: 0 15px 30px;
      line-height: 1.2;
    }
    p {
      line-height: 1.7;
      margin-bottom: 20px;
      font-size: 16px;
      padding: 0 15px;
    }
    figure[data-content-type='image'] {
      padding: 0 15px 30px;
    }
  }
  .row-5 {
    figure[data-content-type='image'] {
      padding: 0 15px 30px;
    }
    .gdlr-core-opening-hour-list {
      padding: 0 15px 30px;
      .gdlr-core-opening-hour-list-item {
        border-bottom-style: solid;
        border-color: #a6a6a6;
        border-bottom-width: 1px;
        padding-bottom: 9px;
        margin-bottom: 10px;
        .gdlr-core-opening-hour-day {
          color: #a5a5a5;
        }
        .gdlr-core-opening-hour-time.gdlr-core-opening-hour-open {
          color: #81d742;
          float: right;
          font-weight: bold;
          .icon_clock_alt {
            color: #8a8989;
            margin-left: 12px;
            }
            .icon_clock_alt:before {
              content: "\e888";
              font-family: 'porto-icons';
              font-style: normal;
            }
        }
      }
    }
  }
}
@media (max-width: 426px) {
  .cms-caravan-service {
    .row-5 {
      .pagebuilder-column {
        .form.contact {
          margin-bottom: 30px;
        }
      }
    }
  }
}

/* page motorhome service */
.cms-we-perform-annual-services-on-all-types-of-motorhomes-new-and-old {
  .row-1, .row-2, .row-3, .row-4 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 15px 30px;
  }
  .row-1 {
    figure[data-content-type='image'] {
      padding: 0 15px 30px;
    }
    [data-content-type='html'] {
      padding: 0 15px 30px;
      h3 {
        margin-top: 0px;
        margin-bottom: 20px;
        line-height: 1.2;
        font-weight: 700;
      }
      p {
        margin-top: 0px;
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 1.7;
        color:  #777;
      }
    }
  }
  .row-2 {
    padding: 0 15px 30px;
    .gdlr-core-price-table {
      background-color: #f8f8f8;
      margin: 45px 5px 0px;
      text-align: center;
      .gdlr-core-price-table-head {
        background: #3f917a;
        padding: 33px 20px;
        .gdlr-core-price-table-icon {
          color: #fff;
          line-height: 1;
          margin-bottom: 32px;
          margin-top: 20px;
          .fa {
            font-size: 51px;
          }
          .fa.fa-wrench:before {
            content: "\e841";
            font-family: 'porto-icons';
            font-style: normal;
          }
        }
        h3 {
          font-size: 17px;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 1px;
          margin-bottom: 6px;
          color: #fff;
        }
        p {
          color: #fff;
        }
      }
      .gdlr-core-price-table-price.gdlr-core-title-font {
        background-color: #ebebeb;
        line-height: 1;
        padding: 25px 20px 40px;
        .gdlr-core-price-prefix {
          color: #323232;
          font-size: 25px;
          vertical-align: super;
        }
        .gdlr-core-price-table-price-number {
          font-size: 60px;
          font-weight: 300;
          margin: 0px 8px;
          vertical-align: middle;
          color: #323232;
        }
      }
      .gdlr-core-price-table-content-wrap {
        padding-bottom: 10px;
        .gdlr-core-price-table-content {
          padding: 10px 20px;
          .gdlr-core-price-list-shortcode {
            ul {
              margin: 0px -20px;
              padding-left: 0;
              list-style: none;
              li {
                padding: 14px 20px;
                border-bottom-width: 1px;
                border-bottom-style: solid;
                margin-bottom: 0px;
                i {
                  display: inline-block;
                  width: 25px;
                  margin-right: 8px;
                }
              }
            }
          }
        }
        .gdlr-core-price-table-button.gdlr-core-button {
          background: #3f917a;
          margin: 35px 0;
          font-size: 13px;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 0.8px;
          padding: 15px 33px;
          display: inline-block;
          -webkit-appearance: none;
          border-radius: 27px;
          -moz-border-radius: 27px;
          color: #fff;
          -webkit-border-radius: 27px;
        }
      }
    }
  }
  .row-3 {
    .slide-1, .slide-3 {
      .pagebuilder-poster-content {
        margin-top: 30%;
        p:nth-child(1) {
          color: #fff;
          text-align: center;
          letter-spacing: 2px;
          text-transform: uppercase;
          font-size: 16px;
        }
        p:nth-child(2) {
          color: #fff;
          text-align: center;
          letter-spacing: 1px;
          font-size: 14px;
          font-style: italic;
        }
      }
    }
    .slide-2, .slide-4 {
      .pagebuilder-poster-content {
        margin-top: 30%;
          p {
            color: #fff;
            text-align: center;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-size: 16px;
          }
      }
    }
  }
}
/* page tunin */
.cms-tunin {
  .row-1, .row-2, .row-3, .row-4 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 15px 30px;
  }
  .row-1 {
    h3 {
      margin-top: 0px;
      margin-bottom: 20px;
      line-height: 1.2;
      font-weight: 700;
    }
    .prodotti {
      font-size: 16px;
      line-height: 1.7;
    }
  }
  .row-2 {
    h2 {
      margin-top: 0px;
      margin-bottom: 20px;
      line-height: 1.2;
      font-weight: 700;
    }
  }
  .row-3 {

  }
  .row-4 {
    h1 {
      font-size: 52px;
      font-weight: 700;
      margin: 40px 0 60px 0;
    }
    h2 {
      font-size: 26px!important;
    }
    h3 {
      text-align: center;
      font-size: 36px;
      font-weight: 800;
      letter-spacing: 2px;
      margin-bottom: 40px;
    }
    .photo-1 {
      margin: 0 10px 30px 0;
    }
    .photo-2 {
      margin: 0 0 20px 10px;
    }
    .gdlr-core-call-to-action-item-button {
      text-align: center;
      a {
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        background-color: #2F2F2F;
        color: #fff;
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.8px;
        padding: 15px 33px;
        display: inline-block;
        -webkit-appearance: none;
      }
    }
  }
}
/* page motor-movers */
.cms-motor-movers {
  .row-1, .row-2 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 15px 30px;
  }
  .row-1 {
    h2 {
      color: #494949;
      margin-top: 0px;
      margin-bottom: 20px;
      line-height: 1.2;
      font-weight: 700;
    }
  }
  .row-2 {
    .pagebuilder-column {
      figure {
        min-height: 250px;
      }
    }
    h2 {
      margin-top: 40px;
      margin-bottom: 20px;
      font-size: 26px;
    }
    .gdlr-core-button-item {
      text-align: center;
      a {
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.8px;
        padding: 15px 33px;
        display: inline-block;
        -webkit-appearance: none;
        background: #3f917a;
        color: #fff;
        border-radius: 5px;
      }
    }

  }
}
/* page powrtouch-motor-movers */
.cms-powrtouch-motor-movers {
  .row-1, .row-2, .row-3 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 15px 30px;
    .gdlr-core-button-item {
      a {
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.8px;
        padding: 15px 33px;
        display: inline-block;
        -webkit-appearance: none;
        background: #3f917a;
        color: #fff;
        border-radius: 5px;
      }
    }
  }
  .row-1, .row-2, .row-3 {
    h1 {
      font-size: 52px;
      text-align: center;
      font-weight: 700;
      line-height: 1.2;
      margin: 0 0 40px;
    }
  }
  .row-1 {
    padding-left: 15px;
    padding-right: 15px;
    .gdlr-core-button-item {
      text-align: left;
      margin: 30px 0;
    }
    p {
      line-height: 1.7;
      font-size: 16px;
    }
    h4 {
      margin: 0 0 0 20px;
      line-height: 1.2;
      font-weight: 700;
      color: #333;
      font-size: 28px;
    }

  }
  .row-2, .row-3 {
    .gdlr-core-button-item {
      text-align: center;
      margin: 30px 0;
    }
    pre, ul, strong {
      font-size: 16px;
    }
    pre {
      background: none;
      border: none;
    }
    ul {
      list-style-type: none;
    }
  }
  .row-4 {
    .fon-full {
      background-color: #ededed;
      .fon {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding: 40px 15px;
      }
    }
    h3 {
      font-size: 22px;
      line-height: 1.7;
    }
    p {
      font-size: 20px;
      margin-top: 0px;
      margin-bottom: 20px;
      line-height: 1.7;
    }
  }
}
/* page truma-motor-movers, al-ko-mammut-motor-movers */
.cms-truma-motor-movers, .cms-al-ko-mammut-motor-movers {
  .row-2 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 15px 30px;
  }
  .row-1 {
    .infinite-page-title-wrap {
      background-position: center;
      background-size: cover;
      position: relative;
      .infinite-page-title-overlay {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background: #777;
        opacity: 0.76;
      }
      .infinite-page-title-container {
        position: relative;
        .infinite-page-title-content {
          padding-top: 126px;
          padding-bottom: 116px;
          h1 {
            font-size: 54px;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-weight: 700;
            color: #fff;
            margin-top: 100px;
            text-align: center;
          }
        }
      }
    }
  }
  .row-2 {
   h3 {
     font-size: 22px;
     color: #494949;
     margin-top: 0px;
     margin-bottom: 20px;
     line-height: 1.2;
     font-weight: 700;
   }
    p {
      font-size: 16px;
      line-height: 1.2;
    }
    h2 {
      font-size: 26px;
      font-weight: 700;
      color: #494949;
      text-align: center;
    }
  }
}
@media (max-width: 426px) {
  .cms-truma-motor-movers, .cms-al-ko-mammut-motor-movers {
    .row-1 {
      .infinite-page-title-container {
        .infinite-page-title-content {
          h1 {
            font-size: 40px;
          }
        }
      }
    }
  }
}
.cms-al-ko-mammut-motor-movers, .cms-motorhome-satnav-m-dvd6000, .cms-caravan-levelling-compact, .cms-caravan-levelling-full, .cms-motor-home-levelling, .cms-al-kohy4levelling {
  .row-1, .row-2, .row-3 {
    .container {
      margin: 0 auto;
      padding: 4rem;
      width: auto;
    }
    .accordion {
      .accordion-item {
        margin: 16px 0;
        button[aria-expanded='true'] {
        }
      }
      button {
        position: relative;
        display: block;
        text-align: left;
        width: 100%;
        padding: 1em 0;
        color: #191919;
        font-size: 1.15rem;
        font-weight: 400;
        border: none;
        background: none;
        outline: none;
        &:hover, &:focus {
          cursor: pointer;
          //color: #03b5d2;
          &::after {
            cursor: pointer;
            //color: #03b5d2;
            //border: 1px solid #03b5d2;
          }
        }
        .accordion-title {
          padding: 1em 1.5em 1em 0;
          font-size: 14px;
          text-transform: uppercase;
          cursor: pointer;
          font-weight: 600;
          margin: 17px 0 27px 70px;
          letter-spacing: 1px;
        }
        .icon {
          display: inline-block;
          position: absolute;
          top: 8px;
          left: 0;
          width: 48px;
          height: 48px;
          border: 1px solid;
          border-radius: 0;
          background-color: #f3f3f3;
          border: none;
          &::before {
            display: block;
            position: absolute;
            content: '';
            top: 22px;
            left: 18px;
            width: 14px;
            height: 1px;
            background: #191919;
          }
          &::after {
            display: block;
            position: absolute;
            content: '';
            top: 16px;
            left: 24px;
            width: 1px;
            height: 14px;
            background: #191919;
          }
        }
      }
      button[aria-expanded='true'] {
        //color: #03b5d2;
        .icon {
          &::after {
            width: 0;
          }
        }
        + .accordion-content {
          opacity: 1;
          max-height: 100%;
          transition: all 200ms linear;
          will-change: opacity, max-height;
          margin-left: 70px;
        }
      }
      .accordion-content {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: opacity 200ms linear, max-height 200ms linear;
        will-change: opacity, max-height;
        p {
          font-size: 1rem;
          font-weight: 300;
          margin: 2em 0;
        }
      }
    }
  }
}
@media (max-width: 426px) {
  .row-2 {
    .container {
      padding: 1rem!important;
    }
  }
}
/* page valet */
.cms-valet {
  .row-2, .row-3, .row-4 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 15px 30px;
  }
  h1, h3, h4, p {
    margin-top: 0px;
    margin-bottom: 20px;
    line-height: 1.2;

  }
  .row-1 {
    .infinite-page-title-wrap {
      background-position: center;
      background-size: cover;
      position: relative;
      .infinite-page-title-overlay {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background: #777;
        opacity: 0.76;
      }
      .infinite-page-title-container {
        position: relative;
        .infinite-page-title-content {
          padding-top: 126px;
          padding-bottom: 116px;
          h1 {
            font-size: 54px;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-weight: 700;
            color: #fff;
            margin-top: 100px;
            text-align: center;
          }
        }
      }
    }
  }
  .row-2 {
    h3 {
      color: #494949;
      font-size: 22px;
      font-weight: 700;
    }
    p {
      font-size: 16px;
      line-height: 1.7;
    }
  }
  .row-3, .row-4 {
    .valet-text-block {
      margin-top: 40px;
      h1 {
        font-size: 52px;
        font-weight: 700;
      }
      h4 {
        font-size: 28px;
        font-weight: 700;
      }
      p {
        font-size: 16px;
        line-height: 1.7;
      }
    }
    .gdlr-core-button-item {
      margin: 60px 0;
      .gdlr-core-button {
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.8px;
        padding: 15px 33px;
        display: inline-block;
        -webkit-appearance: none;
        background: #3f917a;
        color: #fff;
        border-radius: 5px;
      }
    }
  }
}
/* page book a service */
.cms-book-a-service {
  .row-2 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 15px 30px;
  }
  .row-1 {
    .infinite-page-title-wrap {
      background-position: center;
      background-size: cover;
      position: relative;
      .infinite-page-title-overlay {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background: #777;
        opacity: 0.76;
      }
      .infinite-page-title-container {
        position: relative;
        .infinite-page-title-content {
          padding-top: 126px;
          padding-bottom: 116px;
          h1 {
            font-size: 54px;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-weight: 700;
            color: #fff;
            margin-top: 100px;
            text-align: center;
          }
        }
      }
    }
  }
  .row-2 {
    .porto-icon-adress, .porto-icon-phone, .porto-icon-clock {
      font-size: 45px;
      min-width: 45px;
      min-height: 45px;
      text-align: center;
      display: inline-block;
      color: #69943a;
    }
    .porto-icon-adress:before {
      content: '\e883';
    }
    .col-md-12 {
      p {
        font-size: 16px;
        color: #777;
        margin: 0 0 20px;
        line-height: 1.7;
        a {
          font-size: 16px;
          color: #777;
          margin: 0 0 20px;
          line-height: 1.7;
        }
      }
    }
  }
  .row-3 {
    .custom-map {
      width: 40%;
    }
  }
}
@media (max-width: 1025px) {
  .cms-book-a-service {
    .row-3 {
      .custom-map {
        width: 60%;
      }
    }
  }
}

@media (max-width: 768px) {
  .cms-book-a-service {
    .row-3 {
      .custom-map {
        width: 100%;
      }
    }
  }
}
/* page powrtouch-evo-auto-saxle  powrtouch-evo-man-saxle */
.cms-powrtouch-evo-auto-saxle, .cms-powrtouch-evo-man-saxle {

  .row-1 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 15px 30px;
    h2 {
      font-size: 26px;
      color: #494949;
      font-weight: 700;
      text-align: center;
      line-height: 1.2;
    }
    h4 {
      font-size: 28px;
      color: #333;
      font-weight: 700;
      line-height: 1.2;
      text-align: left;
      margin-top: 50px;
    }
    h5 {
      font-size: 27px;
      line-height: 1.2;
      font-weight: 700;
      color: #383838;
      text-transform: uppercase;
      text-align: left;
    }
    p {
      text-align: left;
    }
    .powrtouch-evo-man-saxle-block1, .powrtouch-evo-man-saxle-block2 {
      display: inline-block;
      width: 48%;
    }
    .powrtouch-evo-man-saxle-block1 {
      float: left;
    }
    .powrtouch-evo-man-saxle-block2 {
      float: right;
    }
  }
  h1, h3, p {
    margin-top: 0px;
    line-height: 1.7;
  }
  h1 {
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 12px;
    text-align: center;
  }
  h3 {
    font-size: 22px;
    color: #494949;
    font-weight: 700;
    a {
      color: #494949;
    }
  }
  p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .contact-text {
    width: 70%;
    display: inline-block;
  }
  .contact-button {
    width: 29%;
    display: inline-block;
    .gdlr-core-button {
      font-size: 13px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.8px;
      padding: 15px 33px;
      display: inline-block;
      -webkit-appearance: none;
      border-radius: 27px;
      -moz-border-radius: 27px;
      -webkit-border-radius: 27px;
      color: #fff;
      background: #99ce00 !important;
      float: right;
    }
  }
  .gray-border {
    border: 1px solid #ebebeb;
    margin: 60px 0;
  }
}
@media (max-width: 426px) {
  .cms-powrtouch-evo-auto-saxle, .cms-powrtouch-evo-man-saxle {
    .row-1 {
      .contact-text {
        width: 60%;
        display: inline-block;
      }
      .contact-button {
        width: 39%;
      }
    }
  }
}
/* page solar-panels */
.cms-solar-panels {
  .row-2 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 15px 30px;
  }

  h1, h3, h4, p {
    margin-top: 0px;
    margin-bottom: 20px;
    line-height: 1.2;

  }

  .row-1 {
    .infinite-page-title-wrap {
      background-position: center;
      background-size: cover;
      position: relative;

      .infinite-page-title-overlay {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background: #777;
        opacity: 0.76;
      }

      .infinite-page-title-container {
        position: relative;

        .infinite-page-title-content {
          padding-top: 126px;
          padding-bottom: 116px;

          h1 {
            font-size: 54px;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-weight: 700;
            color: #fff;
            margin-top: 100px;
            text-align: center;
          }
        }
      }
    }
    h2 {
      font-weight: 700;
    }
  }
  .row-2 {
    h4 {
      font-size: 28px;
      font-weight: 700;
      margin-top: 40px;
    }
    .solar-panels-text {
      margin: 20px 30px;
      p {
        font-size: 16px;
        line-height: 1.7;
      }
    }
    ul {
      li {
        list-style-type: none;
      }
    }
    .gdlr-core-button-item {
      margin: 60px 0;
      .gdlr-core-button {
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.8px;
        padding: 15px 33px;
        display: inline-block;
        -webkit-appearance: none;
        background: #3f917a;
        color: #fff;
        border-radius: 5px;
      }
    }
  }
}
/* page satellites*/
.cms-satellites {
  .row-1, .row-2 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 15px 30px;
  }

  h1, h3, h4, p {
    margin-top: 0px;
    margin-bottom: 20px;
    line-height: 1.2;

  }
  .row-1 {
    h3 {
      font-size: 22px;
      font-weight: 700;
      text-align: center;
    }
    p {
      color: #777;
      line-height: 1.7;
      font-size: 16px;
      text-align: center;
    }
  }
  .row-2 {
    h2 {
      font-size: 26px;
      font-weight: 700;
      margin-top: 20px;
    }
    div {
      margin: 20px 30px;
      p {
        font-size: 16px;
        text-align: left;
        line-height: 1.7;
      }
    }

    .gdlr-core-button-item {
      margin: 60px 0;
      .gdlr-core-button {
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.8px;
        padding: 15px 33px;
        display: inline-block;
        -webkit-appearance: none;
        background: #3f917a;
        color: #fff;
        border-radius: 5px;
      }
    }
  }
}
/* page teleco satellite systems */
.cms-teleco-satellite, .cms-maxview-satellite-systems {
  .row-1, .row-2, .row-3, .row-4 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 15px;
  }

  h1, h3, h4, p {
    margin-top: 0px;
    line-height: 1.7;
  }
  .row-1 {
    h1 {
      font-size: 52px;
      font-weight: 700;
      color: #333;
    }
    p {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }
  .row-2, .row-3, .row-4 {
    h4 {
      font-size: 28px;
      font-weight: 700;
      margin-left: 10px;
    }
    p {
      font-size: 16px;
      margin-bottom: 0;
    }
    ul {
      list-style: none;
      padding-left: 0;
      padding-bottom: 80px;
      li {
        font-size: 16px;
      }
    }
    .teleco-satellite-border {
      border-bottom-style: dotted;
      border-bottom-width: 5px;
      border-color: #e2e2e2;
      margin: 10px 10px 30px 10px;
    }
    .gdlr-core-button {
      font-size: 13px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.8px;
      padding: 15px 33px;
      display: inline-block;
      -webkit-appearance: none;
      border-radius: 27px;
      -moz-border-radius: 27px;
      -webkit-border-radius: 27px;
      color: #fff;
      background: #99ce00 !important;
      margin-bottom: 40px;
    }
  }
  .row-5 {
    h2 {
      font-size: 26px;
      color: #494949;
      text-align: center;
      font-weight: 700;
      margin-top: 40px;
    }
    p {
      font-size: 16px;
      color: #777;
      text-align: center;
    }
    .prodotti {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
/* page air-conditioning */
.cms-air-conditioning {
  .the-same-slider {
    .pagebuilder-slider {
      .pagebuilder-slide-wrapper {
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100%;
        opacity: 1;
        visibility: inherit;
        z-index: 20;
        min-height: 790px!important;
      }
    }
  }
  .row-1, .row-2 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0;
  }

  h1, h3, h4, p {
    margin-top: 0;
    line-height: 1.2;
    font-weight: 700;
  }
  .row-1 {
    h1 {
      font-size: 52px;
      text-align: center;
      color: #333;
    }
    h4 {
      font-size: 28px;
      text-align: center;
      color: #333;
    }
  }
  .row-2 {
  .air-conditioning-text {
    padding: 0 25px;
    h1 {
      font-size: 52px;
      color: #3f917a;
    }
    h4 {
      font-size: 28px;
      color: #3f917a;;
    }
    ul {
      padding-left: 0;
      li {
        font-size: 16px;
        list-style-type: none;
      }
    }
    .gdlr-core-button {
      font-size: 13px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.8px;
      padding: 15px 33px;
      display: inline-block;
      -webkit-appearance: none;
      color: #fff;
      background: #3f917a;
      margin: 20px 0 30px;
      border-radius: 5px;
    }
  }
 }
}
/* page teleco-dual-clima-12400h, telair-dual-clima-8400h, telair-silent-8400h */
.cms-teleco-dual-clima-12400h, .cms-telair-dual-clima-8400h, .cms-telair-silent-8400h {
  .row-2, .row-3 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 15px 30px;
  }
  h1, h2, h3, h4, p {
    margin-top: 0px;
    margin-bottom: 20px;
    line-height: 1.2;

  }
  .row-1 {
    .infinite-page-title-wrap {
      background-position: center;
      background-size: cover;
      position: relative;
      .infinite-page-title-overlay {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background: #777;
        opacity: 0.76;
      }
      .infinite-page-title-container {
        position: relative;
        .infinite-page-title-content {
          padding-top: 126px;
          padding-bottom: 116px;
          h1 {
            font-size: 54px;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-weight: 700;
            color: #fff;
            margin-top: 100px;
            text-align: center;
          }
        }
      }
    }
  }
  .row-2 {
    h1 {
      font-size: 52px;
      color: #333;
      font-weight: 700;
    }
    h2 {
      font-size: 26px;
      font-weight: 700;
      color: #494949;
    }
    ul {
      list-style-type: none;
      padding-left: 0;
      li {
        font-size: 16px;
        margin-bottom: 10px;
      }
    }
    p {
      font-size: 16px;
    }
    .teleco-dual-clima-12400h-border {
      border: 1px solid #e2e2e2;
      margin: 60px 0 20px;
    }
    .dualclima-8400 {
      img {
        width: 300px;
      }
    }
  }
}
@media (max-width: 426px) {
  .cms-teleco-dual-clima-12400h, .cms-telair-dual-clima-8400h {
    .row-1 {
      h1 {
        font-size: 40px!important;
      }
    }
    .row-2 {
      h1 {
        font-size: 40px;
      }
    }
  }
}
/* page teleco-telesat-satellite */
.cms-teleco-telesat-satellite {
  .row-1, .row-2, .row-3, .row-4 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 15px 30px;
  }

  h1, h2, h3, h4, h5, p {
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 1.7;

  }
  .row-1, .row-2, .row-3, .row-4 {
    h2, h3, h4, h5 {
      font-weight: 700;
    }
    h2 {
      font-size: 26px;
      color: #494949;
    }
    h3 {
      font-size: 22px;
      color: #494949;
      img {
        float: right;
        margin: 5px 0 20px 20px;
      }
      a {
        font-size: 22px;
        color: #494949;
      }
    }
    h4 {
      font-size: 28px;
      color: #333;
    }
    h5 {
      font-size: 22px;
      color: #333;
    }
    p {
      font-size: 16px;
      color: #777;
    }
  }
  .row-2, .row-3 {
    .teleco-telesat-satellite-block1 {
      display: inline-block;
      width: 40%;
      vertical-align: top;
      p {
        margin-bottom: 5px!important;
      }
    }
    .teleco-telesat-satellite-block2 {
      display: inline-block;
      p {
        margin-bottom: 5px!important;
      }
    }
  }
  .row-4 {
    .gdlr-core-button {
      font-size: 13px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.8px;
      padding: 15px 33px;
      display: inline-block;
      -webkit-appearance: none;
      border-radius: 27px;
      -moz-border-radius: 27px;
      -webkit-border-radius: 27px;
      color: #fff;
      background: #99ce00 !important;
      margin-bottom: 40px;
    }
  }
}
@media (max-width: 1024px) and (min-width: 769px) {
  .row-2, .row-3 {
    .teleco-telesat-satellite-block2 {
      width: 50%!important;
    }
  }
}
@media (max-width: 768px) and (min-width: 426px) {
  .row-2, .row-3 {
    .teleco-telesat-satellite-block2 {
      width: 55%!important;
    }
  }
}
@media (max-width: 425px) {
  .row-2, .row-3 {
    .teleco-telesat-satellite-block1 {
      width: 100%!important;
    }
    .teleco-telesat-satellite-block2 {
      width: 100%!important;
      text-align: center;
    }
  }
}
/* page teleco-voyagerg3, teleco-voyager-digimatic, teleco-voyager-motosat-digimatic */
/* teleco-teleplusx2 teleco-dsf90ehd*/
.cms-teleco-voyagerg3, .cms-teleco-voyager-digimatic, .cms-teleco-voyager-motosat-digimatic, .cms-teleco-teleplusx2, .cms-motorhome-satnav-m-dvd6000, .cms-teleco-dsf90ehd {
  .row-1, .row-2, .row-3, .row-4 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 15px 30px;
  }
  .the-same-slider {
    .pagebuilder-slider {
      .pagebuilder-slide-wrapper {
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100%;
        opacity: 1;
        visibility: inherit;
        z-index: 20;
        min-height: 790px!important;
      }
    }
  }

  h1, h2, h3, h4, h5, p {
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 1.7;

  }
  .row-1 {
    h2, h3 {
      font-weight: 700;
    }
    h2 {
      font-size: 26px;
      color: #494949;
    }
    h3 {
      font-size: 22px;
      color: #494949;
    }
    p {
      font-size: 16px;
      color: #777;
    }
  }
  .row-2 {
    h4 {
      font-size: 28px;
      color: #333;
    }
    p {
      font-size: 16px;
      color: #777;
    }
    ul {
      list-style-type: none;
      padding-left: 0;
      li {
        font-size: 16px;
      }
    }
  }
  .row-3, .row-4 {
    h3 {
      font-size: 22px;
      color: #494949;
      font-weight: 700;
      a {
        font-size: 22px;
        color: #494949;
        font-weight: 700;
      }
    }
    h5 {
      font-size: 22px;
      color: #333;
      font-weight: 700;
    }
    .gdlr-core-button {
      font-size: 13px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.8px;
      padding: 15px 33px;
      display: inline-block;
      -webkit-appearance: none;
      border-radius: 27px;
      -moz-border-radius: 27px;
      -webkit-border-radius: 27px;
      color: #fff;
      background: #99ce00 !important;
      margin-bottom: 40px;
    }
  }
}
.cms-teleco-teleplusx2 {
  .row-2 {
    h1 {
      font-weight: 700;
      font-size: 52px;
    }
    h4 {
      font-weight: 700;
      line-height: 1.2!important;
    }
    p {
      line-height: 1!important;
    }
  }
}
.cms-motorhome-satnav-m-dvd6000 {
  .row-3 {
    .accordion {
      button {
        .accordion-title {
          margin: 17px 0 27px 54px!important;
        }
      }
      .accordion-content {
        p {
          margin: 0!important;
        }
      }
    }
  }
}
.cms-teleco-dsf90ehd {
  h1 {
    font-weight: 700;
    font-size: 52px;
  }
  h1, h2, h3 {
    line-height: 1.2!important;
  }
}
/* page caravan-and-motorhome-repairs */
.cms-caravan-and-motorhome-repairs {
  .row-1, .row-3, .row-4 {
    margin-left: auto;
    margin-right: auto;
    padding: 60px 15px 60px;
  }
  .row-2, .row-5, .row-6 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 15px 60px;
  }
  .the-same-slider {
    .pagebuilder-slider {
      .pagebuilder-slide-wrapper {
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100%;
        opacity: 1;
        visibility: inherit;
        z-index: 20;
        min-height: 790px!important;
      }
    }
  }

  h1, h2, h3, h4, h5, p {
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 1.7;

  }
  .row-1, .row-3 {
    border: 1px solid #333;
    clear: both;
  }
  .row-1 {
    h3 {
      font-size: 54px;
      font-weight: 700;
      text-transform: uppercase;
      color: #383838;
    }
  }
  .row-2 {
    h3 {
      font-size: 26px;
      color: #494949;
      font-weight: 700;
    }
    p {
      line-height: 1.2!important;
    }
  }
  .row-3, .row-4 {
    h3 {
      font-size: 50px;
      color: #383838;
      font-weight: 700;
      text-transform: uppercase;
    }
    h4 {
      font-size: 28px;
      color: #333;
      font-weight: 700;
    }
    .caravan-and-motorhome-repairs-block {
      p {
        line-height: 1.2;
        margin-bottom: 10px;
      }
    }
    .caravan-and-motorhome-repairs-block, .pagebuilder-column-group {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }
    .pagebuilder-slide-wrapper {
      max-width: 60%;
      margin-left: auto;
      margin-right: auto;
    }
    .pagebuilder-slider {
      button {
        background: none;
      }
    }
  }

}
@media (max-width: 1250px) {
  .cms-caravan-and-motorhome-repairs {
    .row-3, .row-4 {
      .pagebuilder-column-group {
        max-width: 100%;
      }
      .pagebuilder-slide-wrapper {
        max-width: 100%;
      }
    }
  }
}
@media (max-width: 768px) {
  .cms-caravan-and-motorhome-repairs {
    .pagebuilder-slider {
      button {
        display: none!important;
      }
    }
  }
}
/* page water-ingress-repairs insurance-repairs*/
.cms-water-ingress-repairs, .cms-insurance-repairs, .cms-paint-repairs {
  .the-same-slider {
    .pagebuilder-slider {
      .pagebuilder-slide-wrapper {
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100%;
        opacity: 1;
        visibility: inherit;
        z-index: 20;
        min-height: 790px!important;
      }
    }
  }
  .row-1, .row-2, .row-3, .row-4 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 15px 30px;
  }
  h1, h2, h3, h4, h5, p {
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 1.7;
  }
  .row-1 {
    h3 {
      font-weight: 700;
    }
    ul {
      list-style-type: none;
      padding-left: 0;
      li {
        font-size: 16px;
        line-height: 1.7;
      }
    }
  }
  .row-2 {
    h3 {
      font-size: 22px;
      color: #494949;
      font-weight: 700;
    }
    .pagebuilder-slider {
      button {
        background: none;
      }
    }
  }
  .row-3 {
    padding: 0 15px 30px;
    .gdlr-core-price-table {
      background-color: #f8f8f8;
      margin: 45px 5px 0px;
      text-align: center;
      .gdlr-core-price-table-head {
        background: #3f917a;
        padding: 33px 20px;
        .gdlr-core-price-table-icon {
          color: #fff;
          line-height: 1;
          margin-bottom: 32px;
          margin-top: 20px;
          .fa {
            font-size: 51px;
          }
          .fa.fa-paint-brush:before {
            content: "\f1fc";
            font-family: 'Font Awesome 5 Free';
            font-style: normal;
          }
          .fa.fa-umbrella:before {
            content: "\f0e9";
            font-family: 'Font Awesome 5 Rest';
            font-style: normal;
          }
          .fa.fa-tint:before {
            content: "\f043";
            font-family: 'Font Awesome 5 Rest';
            font-style: normal;
          }
        }
        h3 {
          font-size: 17px;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 1px;
          margin-bottom: 6px;
          color: #fff;
        }
        p {
          color: #fff;
        }
      }
      }
      .gdlr-core-price-table-content-wrap {
        padding-bottom: 10px;
        .gdlr-core-price-table-content {
          padding: 10px 20px;
          .gdlr-core-price-list-shortcode {
            ul {
              margin: 0px -20px;
              padding-left: 0;
              list-style: none;
              li {
                padding: 14px 20px;
                border-bottom-width: 1px;
                border-bottom-style: solid;
                margin-bottom: 0px;
                i {
                  display: inline-block;
                  width: 25px;
                  margin-right: 8px;
                }
              }
            }
          }
        }
        .gdlr-core-price-table-button.gdlr-core-button {
          background: #3f917a;
          margin: 35px 0;
          font-size: 13px;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 0.8px;
          padding: 15px 33px;
          display: inline-block;
          -webkit-appearance: none;
          border-radius: 27px;
          -moz-border-radius: 27px;
          color: #fff;
          -webkit-border-radius: 27px;
        }
      }
    }
  .row-4 {
    .porto-icon-adress, .porto-icon-phone, .porto-icon-clock {
      font-size: 45px;
      min-width: 45px;
      min-height: 45px;
      text-align: center;
      display: inline-block;
      color: #69943a;
    }
    .porto-icon-adress:before {
      content: '\e883';
    }
    .col-md-12 {
      p {
        font-size: 16px;
        color: #777;
        margin: 0 0 20px;
        line-height: 1.7;
        a {
          font-size: 16px;
          color: #777;
          margin: 0 0 20px;
          line-height: 1.7;
        }
      }
    }
  }
}
/* page vb-airsuspension */
.cms-vb-airsuspension {
  .row-2, .row-4 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 15px 30px;
  }
  .row-3 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 0 30px;
  }
  h1, h2, h3, h4, h5, h6, p, li {
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 1.7;

  }
  .row-1 {
    h3 {
      font-size: 76px;
      font-weight: 700;
      text-transform: uppercase;
    }

    h6 {
      font-size: 30px;
      font-style: italic;
      color: #747474;
      margin-bottom: 0;
      margin-top: 30px;
      }
    }
    .row-2 {
      h3 {
        color: #494949;
        font-weight: 700;
        line-height: 1.2!important;
      }
      h4 {
        font-weight: 700;
        font-size: 28px;
        color: #333;
      }
      ul {
        list-style-type: none;
        li {
          font-size: 16px;
        }
      }
    }
    .row-3 {
      p {
        margin-top: 20px;
      }
      h4 {
        font-size: 26px;
        margin-top: 30px;
      }
    }
    .row-4 {
      h3 {
        margin-top: 20px;
      }
      h4 {
        font-size: 26px;
      }
    }
  .row-3, .row-4 {
    h3 {
      font-size: 22px;
      color: #494949;
      font-weight: 700;
      line-height: 1.2!important;
    }
    .gdlr-core-button {
      background: #3f917a;
      margin: 35px 0;
      font-size: 13px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.8px;
      padding: 15px 33px;
      display: inline-block;
      -webkit-appearance: none;
      border-radius: 5px;
      -moz-border-radius: 27px;
      color: #fff;
      -webkit-border-radius: 5px;
    }
  }
}
/* page vb-coil-springs */
.cms-vb-coil-springs {
  .the-same-slider {
    .pagebuilder-slider {
      .pagebuilder-slide-wrapper {
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100%;
        opacity: 1;
        visibility: inherit;
        z-index: 20;
        min-height: 790px!important;
      }
    }
  }
  .row-1, .row-2, .row-4 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 15px 30px;
  }
  h1, h2, h3, h4, h5, h6, p, li {
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 1.7;

  }
  .row-1 {
    h3 {
      font-size: 22px;
      color: #494949;
      font-weight: 700;
    }
    ul {
      list-style-type: none;
      padding-left: 0;
      li {
        font-size: 16px;
        line-height: 1!important;
      }
    }
    .gray-border {
      border: 1px solid #ebebeb;
      margin: 40px 0 0;
    }
  }
  .row-2 {
    .gdlr-core-button {
      background: #3f917a;
      margin: 35px 0;
      font-size: 13px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.8px;
      padding: 15px 33px;
      display: inline-block;
      -webkit-appearance: none;
      border-radius: 5px;
      -moz-border-radius: 5px;
      color: #fff;
      -webkit-border-radius: 5px;
    }
    ul {
      list-style-type: none;
      li {
        font-size: 16px;
      }
    }
    h5 {
      font-size: 22px;
      color: #333;
      font-weight: 700;
    }

  }
  .row-3 {
    p, .pagebuilder-column-group {
      max-width: 1200px;
      margin-left: auto!important;
      margin-right: auto!important;
    }
    p {
      text-align: center;
      margin: 40px 0;
    }
  }

}
/* page vb-full-air-suspension, vb-semi-air-suspension */
//.cms-vb-full-air-suspension, .cms-vb-semi-air-suspension {
.cms-vb-semi-air-suspension {
  .the-same-slider {
    .pagebuilder-slider {
      .pagebuilder-slide-wrapper {
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100%;
        opacity: 1;
        visibility: inherit;
        z-index: 20;
        min-height: 790px !important;
      }
    }
  }

  .row-1, .row-2, .row-4, .row-5 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 15px 30px;
  }
  .row-3 {
    margin-left: auto;
    margin-right: auto;
    padding: 60px 15px 30px;
  }
  h1, h2, h3, h4, h5, h6, p, li {
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 1.7;

  }
  ul {
    padding-left: 0;
    list-style-type: none;
  }
  .gdlr-core-button {
    background: #3f917a;
    margin: 25px 0;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    padding: 15px 33px;
    display: inline-block;
    -webkit-appearance: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    color: #fff;
    -webkit-border-radius: 5px;
  }
  .row-1 {
    h3 {
      font-weight: 700;
      color: #494949;
    }
    .gray-border-dots {
      border: 1px dashed #ebebeb;
      margin: 30px 0 0;
    }
  }
  .row-2, .row-3, .row-4, .row-5 {
    h1 {
      font-size: 52px;
      color: #333;
      line-height: 1.2;
      font-weight: 700;
    }
    h4 {
      font-size: 28px;
      color: #333;
      line-height: 1.2;
      font-weight: 700;
    }
    ul {
      li {
        font-size: 16px;
        line-height: 1.2;
      }
    }
    .gray-border {
      border: 1px solid #ebebeb;
      margin: 30px 0;
    }
  }
  .row-3 {
    .pagebuilder-column-group, .vb-semi-air-suspension-p {
      max-width: 1200px;
      margin-left: auto!important;
      margin-right: auto!important;
      //padding-left: 15px;
      //padding-right: 15px;
    }
  }
}
/* page landroverdefender, fiat-ducato-full-air-suspension, volkswagen-t5-t6-transporter, mercedesvito, vwamarok, mercedes-benz-sprinter-semi-air-suspension */
.cms-landroverdefender, .cms-fiat-ducato-full-air-suspension, .cms-volkswagen-t5-t6-transporter, .cms-mercedesvito, .cms-vwamarok, .cms-mercedes-benz-sprinter-semi-air-suspension {
  .row-2 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 15px 30px;
  }
  .row-3 {
    //margin-left: auto;
    //margin-right: auto;
    padding: 60px 15px 30px;
  }
  h1, h2, h3, h4, h5, h6, p, li {
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 1.7;

  }
  ul {
    padding-left: 0;
    list-style-type: none;
  }
  .row-1 {
    .infinite-page-title-wrap {
      background-position: center;
      background-size: cover;
      position: relative;
      .infinite-page-title-overlay {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background: #777;
        opacity: 0.76;
      }
      .infinite-page-title-container {
        position: relative;
        .infinite-page-title-content {
          padding-top: 126px;
          padding-bottom: 116px;
          h1 {
            font-size: 54px;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-weight: 700;
            color: #fff;
            margin-top: 100px;
            text-align: center;
          }
        }
      }
    }
  }
  .row-2 {
    p {
      text-align: left;
    }
    ul {
      li {
        margin-bottom: 5px!important;
      }
    }
    .gdlr-core-button {
      background: #3f917a;
      margin: 25px 0;
      font-size: 13px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.8px;
      padding: 15px 25px;
      display: inline-block;
      -webkit-appearance: none;
      border-radius: 5px;
      -moz-border-radius: 5px;
      color: #fff;
      -webkit-border-radius: 5px;
    }
    .mercedesvito-block {
      p {
        font-style: italic;
        margin-bottom: 10px;
        color: #747474;
      }
      h3 {
        font-size: 40px;
        color: #383838;
        text-transform: uppercase;
        line-height: 1.2!important;
      }
    }
    .mercedesvito-button {
      .gdlr-core-button {
        background: #99ce00 !important;
        border-radius: 27px!important;
        -moz-border-radius: 27px!important;
        -webkit-border-radius: 27px!important;
      }
    }
    .gray-border {
      border: 1px solid #ebebeb;
      margin: 30px 0;
    }
    .mercedes-benz-sprinter-block {
      h4 {
        font-size: 28px;
        font-weight: 700;
        color: #333;
      }
      h5 {
        font-size: 22px;
        font-weight: 700;
        color: #333;
      }
      p, li {
        font-size: 16px;
        line-height: 1.2;
        margin-bottom: 5px!important;
      }
    }
  }
  .row-3 {
    div[data-content-type='video'] {
      .pagebuilder-video-inner {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    .pagebuilder-column-group {
      max-width: 1200px;
      margin-left: auto!important;
      margin-right: auto!important;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
@media (max-width: 767px) {
  .cms-landroverdefender {
    .row-1 {
      h1 {
        font-size: 40px;
      }
    }
    .row-2 {
      .pagebuilder-column-group {
        .pagebuilder-column {
          margin-right: 0!important;
          figure {
            margin-right: 0!important;
          }
        }
      }
    }
    .row-3 {
      .pagebuilder-column-group {
        .pagebuilder-column {
          figure {
            margin-left: 0!important;
            margin-right: 0!important;
            margin-bottom: 30px!important;
            img {
              width: 100%;
              margin-left: auto;
              margin-right: auto;
            }
          }
        }
      }
    }
  }
  .cms-fiat-ducato-full-air-suspension, .cms-volkswagen-t5-t6-transporter, .cms-mercedesvito, .cms-vwamarok, .cms-mercedes-benz-sprinter-semi-air-suspension {
    .row-1 {
      h1 {
        font-size: 40px!important;
      }
    }
    .row-2, .the-same-row-9 {
      [data-content-type='html'] {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
      }
      .actions-toolbar {
        .primary {
          float: left;
          button {
            width: auto;
          }
        }

      }
    }
    .row-3 {
      .pagebuilder-column-group {
        .pagebuilder-column {
          figure {
            max-width: 500px;
            margin: 20px auto!important;
          }
        }
      }
    }
  }
}
/* page caravan-and-motorhome-levelling-system-ep-hydraulics */
.cms-caravan-and-motorhome-levelling-system-ep-hydraulics {
  .the-same-slider {
    .pagebuilder-slider {
      .pagebuilder-slide-wrapper {
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100%;
        opacity: 1;
        visibility: inherit;
        z-index: 20;
        min-height: 790px !important;
      }
    }
  }

  .row-1, .row-2 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 15px 30px;
  }
  h1, h2, h3, h4, h5, h6, p, li {
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 1.7;

  }
  ul {
    padding-left: 0;
    list-style-type: none;
  }
  .row-2 {
    [data-content-type='html'] {
      padding: 0 15px;
    }
    h2 {
      margin-top: 30px;
      font-size: 26px;
      color: #494949;
      font-weight: 700;
      line-height: 1.2!important;
    }
    h4 {
      font-size: 28px;
    }
    .gdlr-core-button-item {
      margin: 60px 0;
      .gdlr-core-button {
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.8px;
        padding: 15px 33px;
        display: inline-block;
        -webkit-appearance: none;
        background: #3f917a;
        color: #fff;
        border-radius: 5px;
      }
    }
  }
}
/* page caravan-levelling-compact, caravan-levelling-full, motor-home-levelling */
.cms-caravan-levelling-compact, .cms-caravan-levelling-full, .cms-motor-home-levelling {
  .the-same-slider {
    .pagebuilder-slider {
      .pagebuilder-slide-wrapper {
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100%;
        opacity: 1;
        visibility: inherit;
        z-index: 20;
        min-height: 790px !important;
      }
    }
  }

  .row-1, .row-2, .row-3 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 15px 30px;
  }

  h1, h2, h3, h4, h5, h6, p, li {
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 1.7;

  }

  ul {
    padding-left: 0;
    list-style-type: none;
  }
  .row-1 {
    h1 {
      font-size: 52px;
      font-weight: 700;
      line-height: 1.2;
      color: #333;
    }
   h2 {
     font-weight: 700;
     font-size: 26px;
     line-height: 1.2;
     color: #494949;
   }
  }
  .row-1, .row-2 {
    .container {
      padding: 0!important;
      .accordion {
        .accordion-content {
          p {
            margin: 0 0 10px 0!important;
          }
        }
      }
    }
  }
  .row-3 {
    .porto-icon-adress, .porto-icon-phone, .porto-icon-clock {
      font-size: 45px;
      min-width: 45px;
      min-height: 45px;
      text-align: center;
      display: inline-block;
      color: #69943a;
    }
    .porto-icon-adress:before {
      content: '\e883';
    }
    .col-md-12 {
      p {
        font-size: 16px;
        color: #777;
        margin: 0 0 20px;
        line-height: 1.7;
        a {
          font-size: 16px;
          color: #777;
          margin: 0 0 20px;
          line-height: 1.7;
        }
      }
    }
  }
  .row-4 {
    .form.contact {
      .fieldset {
        label {
          font-size: 16px;
          font-weight: 700;
        }
      }
    }
  }

}
@media (max-width: 768px) {
  .cms-caravan-levelling-compact, .cms-caravan-levelling-full, .cms-motor-home-levelling, .cms-how-heavy-is-caravan-levelling-by-ep-hydraulics {
    .row-4 {
      .pagebuilder-column {
        .form.contact {
          .fields.col-md-6 {
            max-width: 100%;
            flex: 0 0 100%;
          }
        }
      }
    }
  }
}
@media (max-width: 426px) {
  .cms-caravan-levelling-compact, .cms-caravan-levelling-full, .cms-motor-home-levelling, .cms-how-heavy-is-caravan-levelling-by-ep-hydraulics {
    .row-4 {
      .pagebuilder-column:nth-child(1) {
        margin: 20px!important;
      }
    }
  }
}
/* blog how-heavy-is-caravan-levelling-by-ep-hydraulics */
.cms-how-heavy-is-caravan-levelling-by-ep-hydraulics {
  .row-1, .row-3 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 15px 30px;
  }
  .row-0, .row-2 {
    //margin-left: auto;
    //margin-right: auto;
    padding: 60px 15px 30px;
  }
  h1, h2, h3, h4, h5, h6, p, li {
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 1.7;

  }

  ul {
    padding-left: 0;
    list-style-type: none;
  }
  .row-0 {
    .infinite-page-title-wrap {
      background-position: center;
      background-size: cover;
      position: relative;
      .infinite-page-title-overlay {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.76;
        background-color: #000;
      }
      .infinite-page-title-container {
        position: relative;
        .infinite-page-title-content {
          padding-top: 126px;
          padding-bottom: 116px;
          h1 {
            font-size: 54px;
            letter-spacing: 2px;
            font-weight: 700;
            color: #fff;
            margin-top: 100px;
            text-align: left;
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
            padding: 0 15px;
          }
        }
      }
    }
  }
  .row-1 {
    h1 {
      font-size: 52px;
      font-weight: 700;
      line-height: 1.2;
      color: #333;
    }
    h2 {
      font-weight: 700;
      font-size: 26px;
      line-height: 1.2;
      color: #494949;
    }
  }
  .row-2 {
    h1 {
      font-size: 52px;
      font-weight: 700;
      line-height: 1.2;
      color: #333;
    }
    div[data-content-type='video'] {
      .pagebuilder-video-inner {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    .pagebuilder-column-group {
      max-width: 1200px;
      margin-left: auto!important;
      margin-right: auto!important;
      padding-left: 15px;
      padding-right: 15px;
    }
    .gray-border {
      border: 3px solid #ebebeb;
      margin: 40px 0;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }
    .how-heavy-is-caravan-levelling-by-ep-hydraulics-block-p {
      border: 1px solid #565656;
      padding: 10px;
    }
  }


  .row-3 {
    .porto-icon-adress, .porto-icon-phone, .porto-icon-clock {
      font-size: 45px;
      min-width: 45px;
      min-height: 45px;
      text-align: center;
      display: inline-block;
      color: #69943a;
    }
    .porto-icon-adress:before {
      content: '\e883';
    }
    .col-md-12 {
      p {
        font-size: 16px;
        color: #777;
        margin: 0 0 20px;
        line-height: 1.7;
        a {
          font-size: 16px;
          color: #777;
          margin: 0 0 20px;
          line-height: 1.7;
        }
      }
    }
  }
  .row-4 {
    .form.contact {
      .fieldset {
        label {
          font-size: 16px;
          font-weight: 700;
        }
      }
    }
  }

}
@media (max-width: 426px) {
  .cms-how-heavy-is-caravan-levelling-by-ep-hydraulics {
    h1 {
      font-size: 40px!important;
    }
    .row-0 {
      h1 {
        padding: 0 15px;
        line-height: 1.2;
      }
    }
    .row-2 {
      .pagebuilder-column {
        margin: 20px 0!important;
        .pagebuilder-video-inner {
          padding: 0!important;
        }
      }
    }
  }
}
/* page al-kohy4levelling */
.cms-al-kohy4levelling {
  .the-same-slider {
    .pagebuilder-slider {
      .pagebuilder-slide-wrapper {
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100%;
        opacity: 1;
        visibility: inherit;
        z-index: 20;
        min-height: 790px !important;
      }
    }
  }

  .row-1, .row-3, .row-4 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 15px 30px;;
  }

  .row-2, .row-5 {
    padding: 60px 15px 30px;
  }

  h1, h3, h4, h5, p {
    margin-top: 0;
    line-height: 1.2;
    font-weight: 700;
  }

  .row-1 {
    h1 {
      font-size: 52px;
      color: #333;
    }

    h2 {
      font-size: 26px;
      font-weight: 700;
      color: #494949;
    }

    p {
      font-weight: 400;
      line-height: 1.7;
    }
  }

  .row-2 {
    h3 {
      color: #494949;
    }

    h5 {
      font-size: 22px;
      color: #333;
    }

    p {
      font-weight: 400 !important;
    }

    .pagebuilder-column-group {
      max-width: 1200px;
      margin-left: auto !important;
      margin-right: auto !important;
      padding-left: 15px;
      padding-right: 15px;
    }

    .pagebuilder-slider {
      button {
        background: none;
      }
    }
  }
    .row-3 {
      .container {
        padding: 0;
      }

      .accordion-content {
        p {
          margin: 0 0 10px 0 !important;
        }
      }
    }

    .row-4 {
      .porto-icon-adress, .porto-icon-phone, .porto-icon-clock {
        font-size: 45px;
        min-width: 45px;
        min-height: 45px;
        text-align: center;
        display: inline-block;
        color: #69943a;
      }

      .porto-icon-adress:before {
        content: '\e883';
      }

      .col-md-12 {
        p {
          font-size: 16px;
          color: #777;
          margin: 0 0 20px;
          line-height: 1.7;

          a {
            font-size: 16px;
            color: #777;
            margin: 0 0 20px;
            line-height: 1.7;
          }
        }
      }
    }

    .row-5 {
      .form.contact {
        .fieldset {
          label {
            font-size: 16px;
            font-weight: 700;
          }
        }
      }
    }
}

@media (max-width: 1200px) {
  .cms-al-kohy4levelling {
    .row-2 {
      .pagebuilder-column-group {
        max-width: 100%;
      }
    }
  }
}



@media (max-width: 768px) {
  .cms-al-kohy4levelling  {
    .row-5 {
      .pagebuilder-column {
        .form.contact {
          .fields.col-md-6 {
            max-width: 100%;
            flex: 0 0 100%;
          }
        }
      }
    }
  }
}
@media (max-width: 426px) {
  .cms-al-kohy4levelling  {
    .row-2 {
      .pagebuilder-column-group {
        padding: 0!important;
      }
    }
    .row-3 {
      .pagebuilder-column:nth-child(2) {
        margin: 0!important;
      }
    }
    .row-5 {
      .pagebuilder-column:nth-child(1) {
        margin: 20px!important;
      }
    }
  }
}

@media (max-width: 1440px) {
  .cms-returns {
    .pagebuilder-column {
      padding: 0 !important;
    }
  }
}
@media (max-width: 1200px) {
  .cms-returns {
    .pagebuilder-column {
      padding: 0 !important;
    }

    .returns-tabs {
      .tabs-navigation {
        .tab-header {
          display: block !important;
          border-bottom: 1px solid #878787 !important;
          border-radius: 8px !important;
          margin-bottom: -1px !important;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .cms-contact-us {
    .contact-fields-group {
      .pagebuilder-column-group {
        flex-wrap: wrap;
      }
    }

    .pagebuilder-column-group {
      .pagebuilder-column {
        &.contact-fields {
          flex-basis: 100%;
          max-width: 100%;
          margin: 0 !important;

          .labelabove {
            max-width: 100% !important;

            .form-group {
              & > div.col-md-6,
              & > div.col-md-8,
              & > label.col-md-3.control-label {
                max-width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .cms-contact-us {
    .pagebuilder-column-group {
      .pagebuilder-column {
        &.contact-block-1,
        &.contact-block-2,
        &.contact-block-3 {
          margin: 0 !important;
        }
      }
    }
  }

  .porto-ibanner {
    min-height: auto !important;

    & > img {
      min-height: auto !important;
    }
  }

  .block-search {
    padding-left: 0 !important;
    
    &.show {
      .search-category {
        display: none !important;
      }
    }
  }
}

@media (min-width: 992px) {
  .sw-megamenu.navigation li.level0:nth-child(3) {
    & > .submenu {

      .menu-bottom-block {
        margin-top: 40px;
      }

      ul.subchildmenu {
        & > li.level1:nth-child(2) {
          width: 50%;
        }

        & > li.level1:nth-child(3) {
          position: absolute;
          left: 0;
          right: auto;
          top: 175px;
        }
      }
    }
  }
}

[data-content-type="row"][data-appearance="full-bleed"] {
  [data-content-type="image"] {
    img {
      width: 100%;
    }
  }
}

@media (max-width: 992px) {
  [data-content-type="row"][data-appearance="full-bleed"] [data-content-type="banner"] [data-background-type="image"] {
    margin-left: -20px;
    margin-right: -20px;
  }
}
