.find-lower-price {
	margin-bottom: 10px;
}
#result-data {
    border-top: 4px solid green;
    width: 90%;
    background-color: #d3d3d3;
    margin-left: 3%;
    padding: 13px;
    z-index: 9;
    margin-bottom: 10px;
}

#result-data.result-err {
    border-top: 4px solid red;
}

.data-loading {
    bottom: 0;
    left: 0;
    margin: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
}

.data-loading .loader>img {
    bottom: 0;
    left: 0;
    margin: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
}

.lowerprice-form {
    padding: 30px;
}

.lowerprice-close {
    margin: 4px 11px 0 0;
}

.low-a {
    display: table-cell;
    width: 20%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    background: #535557;
    color: #fff !important;
    text-decoration: none;
    border-radius: 0 4px 4px 0;
}

.low-q {
    display: table-cell;
    background: #f3f5f7;
    color: #636567;
    box-sizing: border-box;
    padding: 6px 10px;
    width: 80%;
    height: 100%;
    line-height: normal;
    border-radius: 4px 0 0 4px;
}

#lowerprice-form fieldset.fieldset.first {
    width: 140px;
    display: inline-block;
    float: left;
    margin-right: 15px;
}

#lowerprice-form fieldset.fieldset.first h2.product.name.product-item-name {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    color: #20409a;
}

#lowerprice-form fieldset.fieldset.first .price-box-inner {
    font-weight: bold;
    padding: 8px;
    font-size: 14px;
}

#lowerprice-form fieldset.fieldset.first img {
    padding: 2px;
}

#lowerprice-form fieldset.fieldset .field.note.no-label {
    text-align: left;
    font-size: 14px;
    line-height: 21px;
    float: left;
}

#lowerprice-form fieldset.fieldset .control input[type="checkbox"] {
    margin: 4px 5px 0 0;
}

#lowerprice-form fieldset.fieldset p.bold {
    font-weight: bold;
    border-bottom: 1px solid #efefef;
    color: #308dbc;
    clear: both;
}

#lowerprice-form .primary.actions-primary {
    float: none;
    display: block !important;
}

#lowerprice-form .primary.actions-primary button {
    max-width: 120px;
    float: right;
}

#lowerprice-form fieldset.fieldset>.legend {
    font-weight: 600;
    margin: 0 0 20px;
    text-transform: none;
    font-size: 20px;
}

.primary.actions-primary {
    text-align: right;
}

.or-divider {
    position: relative;
    width: 100%;
    margin: 0 auto;
    color: #20409a;
    text-align: center;
}

.or-divider:before {
    content: '';
    display: block;
    position: absolute;
    top: 12px;
    left: 0;
    width: 43%;
    height: 1px;
    border-top: 1px solid #20409a;
}

.or-divider:after {
    content: '';
    display: block;
    position: absolute;
    top: 12px;
    right: 0;
    width: 43%;
    height: 1px;
    border-top: 1px solid #20409a;
}

#result-data {
    background-color: #efefef;
    top: 0;
}

#result-data.result-su {
    border-top: 0;
    background-color: #fff;
    top: 0;
    padding: 20px 20px 11px;
    overflow: hidden;
    border-radius: 5px;
    border: none;
}

#data-loading {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    background: rgba(000, 000, 000, 0.2);
    width: 100%;
    height: 100%;
    padding: 5% 0;
    text-align: center;
}

#data-loading span {
    color: #000;
    background: #fff;
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 5px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 40%;
}

.lower-price-popup footer.modal-footer {
    display: none !important;
}

.lower-price-popup .modal-content {
    border: none !important;
    box-shadow: none !important;
}

.lower-price-popup #lower-price_popup form .fieldset {
    border-left: 1px dashed #b03680 !important;
    padding-left: 15px !important;
}

.lower-price-popup .note {
    clear: both;
}

#lower-price_popup .modal-content {
    padding: 0;
}


@media only screen and (max-width: 480px) {

    #lowerprice-form fieldset.fieldset.first,
    #lowerprice-form fieldset.fieldset {
        width: 100%;
    }

    #lowerprice-form fieldset.fieldset.first {
        text-align: center;
    }

    .modal-dialog {
        max-width: 600px;
        width: 100%;
    }

    #lowerprice-form .primary.actions-primary button {
        max-width: 100%;
    }

}

@media only screen and (max-width: 768px) {
    .modal-dialog {
        width: 100%;
    }

    #lowerprice-form fieldset.fieldset.first {
        text-align: center;
    }

}


@media only screen and (min-width: 481px) {
    #lowerprice-form fieldset.fieldset:not(.first) {
        border-left: 1px dashed #b03680;
        padding-left: 15px;
    }
}