<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<form class="form contact"
      action="<?php echo $block->getFormAction(); ?>"
      id="contact-form"
      method="post"
      data-hasrequired="<?php echo __('* Required Fields') ?>"
      data-mage-init='{"validation":{}}'>
    <fieldset class="fieldset">
<!--        <legend class="legend"><span>--><?php //echo __('Write') ?><!-- <b>--><?php //echo __('Us') ?><!--</b></span></legend><br />-->
        <div class="fieldset row">
            <div class="fields col-md-6">
                <div class="field name required">
                    <label class="label" for="name"><span><?php echo __('Name') ?></span></label>
                    <div class="control">
                        <input name="name" id="name" title="<?php echo __('Name') ?>" value="<?php echo $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getUserName()) ?>" class="input-text" type="text" data-validate="{required:true}"/>
                    </div>
                </div>

                <div class="field adress required">
                    <label class="label" for="adress"><span><?php echo __('Adress') ?></span></label>
                    <div class="control">
                        <input name="adress" id="adress" title="<?php echo __('Adress') ?>" value="" class="input-text" type="text" data-validate="{required:true}" />
                    </div>
                </div>
                <div class="field post-code required">
                    <label class="label" for="post-code"><span><?php echo __('Post code') ?></span></label>
                    <div class="control">
                        <input name="post-code" id="post-code" title="<?php echo __('Post code') ?>" value="" class="input-text" type="text" data-validate="{required:true}" />
                    </div>
                </div>
                <div class="field telephone required">
                    <label class="label" for="telephone"><span><?php echo __('Phone Number') ?></span></label>
                    <div class="control">
                        <input name="telephone" id="telephone" title="<?php echo __('Phone Number') ?>" value="" class="input-text" type="text" data-validate="{required:true}" />
                    </div>
                </div>
                <div class="field email required">
                    <label class="label" for="email"><span><?php echo __('Email') ?></span></label>
                    <div class="control">
                        <input name="email" id="email" title="<?php echo __('Email') ?>" value="<?php echo $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getUserEmail()) ?>" class="input-text" type="email" data-validate="{required:true, 'validate-email':true}"/>
                    </div>
                </div>
                <div class="field make">
                    <label class="label" for="make"><span><?php echo __('Make') ?></span></label>
                    <div class="control">
                        <input name="make" id="make" title="<?php echo __('Make') ?>" value="" class="input-text" type="text" />
                    </div>
                </div>
                <div class="field model">
                    <label class="label" for="model"><span><?php echo __('Model') ?></span></label>
                    <div class="control">
                        <input name="make" id="model" title="<?php echo __('Model') ?>" value="" class="input-text" type="text" />
                    </div>
                </div>
                <div class="field serial-cris">
                    <label class="label" for="serial-cris"><span><?php echo __('Serial/CRIS No') ?></span></label>
                    <div class="control">
                        <input name="serial-cris" id="serial-cris" title="<?php echo __('Serial/CRIS No') ?>" value="" class="input-text" type="text" />
                    </div>
                </div>
                <div class="field preferred-date">
                    <label class="label" for="preferred-date"><span><?php echo __(' Preferred Date - We will call to confirm if available') ?></span></label>
                    <div class="control">
                        <input name="preferred-date" id="preferred-date" title="<?php echo __(' Preferred Date - We will call to confirm if available') ?>" value="" class="input-text" type="text" />
                    </div>
                </div>


                <div class="field name required">
                    <label class="label" for="comment"><span><?php echo __('What’s on your mind?') ?></span></label>
                    <div class="control">
                        <input name="comment" id="comment" title="<?php echo __('What’s on your mind?') ?>" class="input-text" data-validate="{required:true}" type="text"/>
                    </div>
                </div>
<!--                --><?php //echo $block->getChildHtml('form.additional.info'); ?>
            </div>
<!--            <div class="fields col-md-6">-->

<!--            </div>-->
        </div>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <input type="hidden" name="hideit" id="hideit" value="" />
            <button type="submit" title="<?php echo __('Submit') ?>" class="action submit primary">
                <span><?php echo __('Submit') ?></span>
            </button>
        </div>
    </div>
</form>
