<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * @var \Magento\Customer\Block\Account\AuthorizationLink $block
 * @var \Magento\Framework\Escaper $escaper
 */
$dataPostParam = '';
$helperClass = '';
$label = __('Sign In / Register');
if ($block->isLoggedIn()) {
    $dataPostParam = sprintf(" data-post='%s'", $block->getPostParams());
    $label = __('Sign Out');
    $helperClass = 'logged';
}
?>
<li class="link authorization-link <?= $helperClass ?>" data-label="<?= $escaper->escapeHtml(__('or')) ?>">
    <a <?= /* @noEscape */ $block->getLinkAttributes() ?> <?= /* @noEscape */ $dataPostParam ?>>
        <div class="icon">
            <div class="porto-just-icon-wrapper porto-icon none">
                <i class="porto-icon-user-2"></i>
            </div>
        </div>
        <span><?= $escaper->escapeHtml($label) ?><span>
    </a>
</li>
