//
// @author andy
// @email andyworkbase@gmail.com
// @team MageCloud
// @package MageCloud_ProductSupplier

//
//  Common
//  _____________________________________________

#magecloud_product_supplier_general {
    .label {
        //width: 10%;
    }

    .value {
        //width: 70%;

        &.with-tooltip {
            padding-right: 4rem;
        }
    }

    .info-wrapper {
        padding: 20px 12px;
        background: #ffffff;
        box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 10px 0 rgba(63, 63, 68, 0.15);
        border-radius: 1px;

        .info-row {
            padding-bottom: 5px;

            &:last-child {
                padding-bottom: 0;
            }

            .row-label {
                padding: 0;
                display: inline-block;
                width: auto;
                min-width: 60px;
                text-align: left;
                font-weight: 600;
            }

            .row-value {
                font-style: italic;
            }

            .grid-severity {
                display: inline-block;
                padding: 0.6rem 1em 0.6rem;
            }
        }
    }
}