<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable Magento2.Templates.ThisInTemplate.FoundThis

/**
 * Product view template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Description
 * @var \Magento\Framework\View\Helper\SecureHtmlRenderer $secureRenderer
 */
?>
<?php
$_helper = $this->helper(Magento\Catalog\Helper\Output::class);
$_product = $block->getProduct();

if (!$_product instanceof \Magento\Catalog\Model\Product) {
    return;
}

$_call = $block->getAtCall();
$_code = $block->getAtCode();
$_className = $block->getCssClass();
$_attributeLabel = $block->getAtLabel();
$_attributeType = $block->getAtType();
$_attributeAddAttribute = $block->getAddAttribute();

$renderLabel = true;
// if defined as 'none' in layout, do not render
if ($_attributeLabel == 'none') {
    $renderLabel = false;
}

if ($_attributeLabel && $_attributeLabel == 'default') {
    $_attributeLabel = $_product->getResource()->getAttribute($_code)->getStoreLabel();
}
if ($_attributeType && $_attributeType == 'text') {
    $_attributeValue = ($_helper->productAttribute($_product, $_product->$_call(), $_code))
        ? $_product->getAttributeText($_code)
        : '';
} else {
    $_attributeValue = $_helper->productAttribute($_product, $_product->$_call(), $_code);
}
?>

<?php if ($_attributeValue) :?>
    <div class="product attribute <?= $block->escapeHtmlAttr($_className) ?>">
        <?php if ($renderLabel) :?>
            <strong class="type"><?= $block->escapeHtml($_attributeLabel) ?></strong>
        <?php endif; ?>
        <div class="value" <?= /* @noEscape */ $_attributeAddAttribute ?>><?= /* @noEscape */ $_attributeValue ?></div>
        <?php if ($_code == 'short_description'): ?>
            <div class="more-less-shadow"></div>
        <?php endif; ?>
    </div>
    <?php if ($_code == 'short_description'): ?>
        <div class="more-less-actions-wrapper">
            <span data-text-more="<?= __('Read More')?>" data-text-less="<?= __('Read Less')?>"><?= __('Read More')?></span>
        </div>
        <?php $scriptString = <<<script
            require([
                'jquery',
                'domReady!'
            ], function ($) {
                $(function() {
                    window.addMoreLess('.product.attribute.overview .value', 80);
                });
            })
script;
        ?>
        <?= /* @noEscape */ $secureRenderer->renderTag('script', [], $scriptString, false) ?>
    <?php endif; ?>
<?php endif; ?>

<?php if ($_code == 'sku'): ?>
    <?php
        /** @var \MageCloud\ProductSupplier\Helper\Product $shippingHelper */
        $shippingHelper = $this->helper(MageCloud\ProductSupplier\Helper\Product::class);
        $note = (string)$_product->getData('amasty_preorder_note');
        $preOrderAllowedQty = (int)$_product->getData('amasty_preorder_allow_qty');
        $preOrderReleaseDate = $_product->getData('amasty_preorder_release_date');
        $inStock = $shippingHelper->isInStock($_product->getId());
    ?>
    <?php if ($_product->getTypeId() == 'simple' && !$_product->hasCustomOptions()): ?>
        <?php if ($inStock): ?>
            <?= $shippingHelper->renderInStockInfoHtml(); ?>
        <?php else: ?>
            <?= $shippingHelper->renderOutOfStockInfoHtml($note, $preOrderAllowedQty, $preOrderReleaseDate); ?>
        <?php endif; ?>
    <?php endif; ?>
<?php endif; ?>