<!--
/**
 * Copyright © MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<input class="admin__control-text" type="text" id="delivery_day" hidden="hidden" data-bind="
    valueUpdate: valueUpdate,
    attr: {
        value: value,
        name: inputName,
        id: uid,
        placeholder: placeholder,
        'aria-describedby': noticeId,
        disabled: disabled
    }"/>
<div data-bind="if: dayLimits() && disabled()">
    <div class="data-row" data-bind="foreach: {data: Object.keys(dayLimits()), as: 'day'}">
        <!-- ko if: $parent.selectedDay() == day -->
        <div class="data-item" data-bind="click: $parent.selectDay.bind($parent, day), css: { 'data-item-selected': $parent.selectedDay() == day }">
            <span data-bind="html: $parent.dayFromToday(day)"></span>
        </div>
        <!-- /ko -->
    </div>
</div>
<div data-bind="if: dayLimits() && !disabled()">
    <div class="data-row" data-bind="foreach: {data: Object.keys(dayLimits()), as: 'day'}">
        <div class="data-item" data-bind="click: $parent.selectDay.bind($parent, day), css: { 'data-item-selected': $parent.selectedDay() == day }">
            <span data-bind="html: $parent.dayFromToday(day)"></span>
        </div>
    </div>
</div>
