<!--
/**
 * Copyright © MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<input class="admin__control-text" type="text" hidden="hidden" data-bind="
    valueUpdate: valueUpdate,
    attr: {
        value: value,
        name: inputName,
        id: uid,
        placeholder: placeholder,
        'aria-describedby': noticeId,
        disabled: disabled
    }"/>
<div data-bind="if: dayLimits">
    <div data-bind="foreach: {data: Object.keys(dayLimits()), as: 'day'}">
        <div class="delivery-date-cell">
            <input type="radio"
                   name="delivery_day_selector"
                   data-bind="click: $parent.selectDay.bind($parent, day),
                   value: day,
                   attr: {
                   id: $parent.uid() + 'delivery-date-day' + $index(),
                   checked: $index() == $parent.selectedDay(),
                   disabled: $parent.disabled
                   }"
                   afterRender="$parent.initDefaultValue(day)">
            <label data-bind="html: $parent.dayFromToday(day), attr: { for: 'delivery-date-day' + $index()}"></label>
            </input>
        </div>
    </div>
</div>
