//
// @author andy
// @email andyworkbase@gmail.com
// @team MageCloud

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .checkout-payment-method {
        .payment-method-title {
            .payment-icon {
                &.p3 {
                    max-width: 50px;
                }
            }
        }
    }
    .onestepcheckout-index-index {
        fieldset.ccard.P3_PaymentGateway {
            .field {
                .label {
                    display: block;
                }

                .input-text {
                    width: 100%;
                    border: 2px solid;
                    padding: 10px;
                    transition: none;
                    line-height: normal;
                    height: auto;
                    background: none;
                    color: #000;
                    border-radius: 0;
                    margin: 0;
                    font-size: 16px;
                }

                &.number {
                    .input-text {
                    }
                }

                &.date,
                &.cvv {
                    width: 50%;
                    float: left;
                }

                &.date {
                    .input-text {
                        min-width: 60px;
                    }
                }

                &.cvv {
                    .control {
                        padding: 0;
                    }

                    .input-text {
                    }
                }
            }
        }
    }
}