<?php
/**
 * Copyright © MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
?>
<?php /** @var \MageWorx\ShippingRules\Block\Adminhtml\ImportExport\ImportExport $block */ ?>
<div class="import-export-carriers">
    <?php if (!$block->getIsReadonly()): ?>
        <div class="import-carriers">
            <?php if ($block->getUseContainer()): ?>
            <form id="import-form"
                  class="admin__fieldset"
                  action="<?php echo $block->getUrl('mageworx_shippingrules/importExport/expressImportPost') ?>"
                  method="post"
                  enctype="multipart/form-data">
                <?php endif; ?>
                <?php echo $block->getBlockHtml('formkey') ?>
                <div class="fieldset admin__field">
                    <label for="import_carriers_file" class="admin__field-label">
                        <span><?php echo __('Import') ?></span>
                    </label>
                    <div class="admin__field-control">
                        <input type="file"
                               id="import_carriers_file"
                               name="import_carriers_file"
                               class="input-file required-entry"
                        />
                        <?php
                        echo $block->getButtonHtml(__('Import'), '', 'import-submit');
                        ?>
                    </div>
                </div>
                <?php if ($block->getUseContainer()): ?>
            </form>
        <?php endif; ?>
            <script type="text/javascript">
                require(['jquery', "mage/mage", "loadingPopup"], function (jQuery) {

                    jQuery('#import-form').mage('form').mage('validation');
                    (function ($) {
                        $('.import-submit').click(function () {
                            if ($(':input[name="import_carriers_file"]').val()) {
                                $('body').loadingPopup({
                                    timeout: false
                                });

                                $(this.form).submit();
                            }
                        });
                    })(jQuery);

                });
            </script>
        </div>
    <?php endif; ?>
    <div class="<?php echo $block->getExportCarriersClasses(true); ?>">
        <?php if ($block->getUseContainer()): ?>
        <form id="export_form"
              class="admin__fieldset"
              action="<?php echo $block->getUrl('mageworx_shippingrules/importExport/expressExportPost') ?>"
              method="post"
              enctype="multipart/form-data">
            <?php endif; ?>
            <?php echo $block->getBlockHtml('formkey') ?>
            <div class="fieldset admin__field">
                <span class="admin__field-label">
                    <span><?php echo __('Export') ?></span>
                </span>
                <div class="admin__field-control">
                    <?php
                    echo $block->getButtonHtml(
                        __('Export'),
                        "this.parentElement.form.submit()",
                        '',
                        'export-button'
                    );
                    ?>
                </div>
            </div>
            <?php if ($block->getUseContainer()): ?>
        </form>
    <?php endif; ?>
    </div>
    <div class="<?php echo $block->getExportCarriersClasses(true); ?>">
        <?php if ($block->getUseContainer()): ?>
        <form id="example_export_form"
              class="admin__fieldset"
              action="<?php echo $block->getUrl('mageworx_shippingrules/importExport/exportExamplePost') ?>"
              method="post"
              enctype="multipart/form-data">
            <?php endif; ?>
            <?php echo $block->getBlockHtml('formkey') ?>
            <div class="fieldset admin__field">
                <span class="admin__field-label">
                    <span><?php echo __('Download example CSV file'); ?></span>
                </span>
                <div class="admin__field-control" style="line-height: 32px;">
                    <a href="<?php echo $block->getUrl(
                        'mageworx_shippingrules/importExport/expressExportExamplePost'
                    ) ?>"><?php echo __('Download'); ?></a>
                </div>
            </div>
            <?php if ($block->getUseContainer()): ?>
        </form>
    <?php endif; ?>
    </div>
</div>
