//
// @author andy
// @email andyworkbase@gmail.com
// @team MageCloud
// @package MageCloud_Sale

//
//  Common
//  _____________________________________________

.page-wrapper {
    .page-header.type22 {
        .header-bottom {
            &.main-menu-wrap {
                .navigation {
                    .second-menu-block-mobile {
                        .ui-menu-item {
                            &.black-friday {
                                .level-top {
                                    position: relative;
                                    border: 1px solid rgba(0, 0, 0, 1);
                                    background: rgba(0, 0, 0, 1);
                                    color: rgba(232, 50, 53, 1);
                                    font-weight: 700;
                                    font-size: 14px;
                                    font-family: "Inter", sans-serif;
                                    line-height: normal;
                                    text-align: center;
                                    text-underline-position: from-font;
                                    text-decoration-skip-ink: none;
                                    padding: 23px 34px !important;
                                    //margin-left: 20px;

                                    &:after {
                                        content: '';
                                        position: absolute;
                                        left: 0;
                                        top: 0;
                                        width: 0;
                                        height: 0;
                                        border-top: 15px solid rgba(232, 50, 53, 1);
                                        border-left: 13px solid rgba(232, 50, 53, 1);
                                        border-right: 11px solid transparent;
                                        border-bottom: 17px solid transparent;
                                    }

                                    &:before {
                                        content: '';
                                        position: absolute;
                                        left: 0;
                                        top: 0;
                                        width: 22px;
                                        height: 32px;
                                        background-image: url('../images/sale-link-page-bend.svg');
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.catalog-category-view {
    &.category-sale {
        .page-wrapper {
            .page-header.type22 {
                .header-bottom {
                    &.main-menu-wrap {
                        .navigation {
                            .second-menu-block-mobile {
                                .ui-menu-item {
                                    &.black-friday {
                                        .level-top {
                                            border: 1px solid rgba(232, 50, 53, 1);
                                            background: rgba(232, 50, 53, 1);
                                            color: rgba(255, 255, 255, 1);

                                            &:after,
                                            &:before {
                                                display: none;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.modal-popup {
    &.popup-sale-subscribe {
        max-width: 655px;
        color: #fff;
        margin: 0 auto;
        font-family: "Inter", sans-serif;

        .modal-inner-wrap {
            background-image: url('../images/sale-ribbon.svg');
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: contain;
            background-color: rgba(0, 0, 0, 1) !important;
        }

        .modal-header {
            .action-close {
                top: 20px;
            }
        }

        .modal-content {
            text-align: center;
            padding: 4rem 2rem 1.5rem;

            .block-customer-sale-subscribe {
                margin-bottom: 0;
                padding: 0 2rem;

                .block-title {
                    margin-top: 0;
                    margin-bottom: 20px;
                    line-height: 38px;
                    text-align: left;
                    letter-spacing: 2px;

                    strong {
                        font-weight: 700;
                        font-size: 32px;

                        &.red {
                            background: rgba(232, 50, 53, 1);
                        }
                    }
                }

                .messages {
                    margin: -5px auto 20px;
                    text-align: left;
                }

                .block-content {
                    .label:not(.shopping-for) {
                        display: none;
                    }

                    .field {
                        text-align: left;

                        &.shopping-for {
                            color: rgba(222, 222, 222, 1);
                            margin-top: 20px;
                            text-align: left;

                            p {
                                font-size: 16px;
                                margin-bottom: 15px;
                            }

                            .fields-group {
                                display: flex;
                                width: 100%;
                                flex-flow: wrap;

                                .field {
                                    align-items: center;
                                    display: flex;
                                    flex: 0 0 50%;
                                    max-width: 50%;
                                    margin-bottom: 5px;

                                    .label {
                                        display: block;
                                        position: relative;
                                        padding-left: 36px;
                                        margin-bottom: 10px;
                                        cursor: pointer;
                                        -webkit-user-select: none;
                                        -moz-user-select: none;
                                        -ms-user-select: none;
                                        user-select: none;

                                        & > span {
                                            font-family: "Inter", sans-serif;
                                            font-size: 14px;
                                            font-weight: 700;
                                            text-align: center;
                                            text-underline-position: from-font;
                                            text-decoration-skip-ink: none;
                                        }

                                        &:hover {
                                            input ~ .checkmark {
                                                background-color: rgba(52, 52, 52, 1);
                                            }
                                        }

                                        input {
                                            position: absolute;
                                            opacity: 0;
                                            cursor: pointer;
                                            height: 0;
                                            width: 0;

                                            &:checked {
                                                & ~ .checkmark {
                                                    background-color: rgba(52, 52, 52, 1);
                                                }
                                                & ~ .checkmark:after {
                                                    display: block;
                                                }
                                            }
                                        }

                                        .checkmark {
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                            height: 26px;
                                            width: 26px;
                                            background-color: rgba(52, 52, 52, 1);
                                            border-radius: 4px;

                                            &:after {
                                                content: "";
                                                position: absolute;
                                                display: none;
                                                left: 8px;
                                                top: 1px;
                                                width: 11px;
                                                height: 19px;
                                                border: solid white;
                                                border-width: 0 3px 3px 0;
                                                -webkit-transform: rotate(45deg);
                                                -ms-transform: rotate(45deg);
                                                transform: rotate(45deg);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .input-text {
                        color: rgba(199, 199, 199, 1);
                        min-height: 50px;
                        border-radius: 20px;
                        background: rgba(52, 52, 52, 1);
                        padding: 0 20px;
                    }

                    .actions-toolbar {
                        margin-top: 20px;

                        .primary {
                            float: none;
                            display: block;
                            width: 100%;

                            .primary {
                                display: block;
                                width: 100%;
                                margin: 0;
                                background: rgba(232, 50, 53, 1);
                                color: #fff;
                                font-weight: 600;
                                font-size: 16px;
                                border-radius: 20px;
                                text-transform: uppercase;
                                border: none;
                                min-height: 54px;
                                line-height: 1;
                            }
                        }
                    }

                    .note {
                        font-weight: 700;
                        font-size: 26px;
                        text-align: right;
                        color: rgba(89, 89, 89, 1);
                        margin: 25px -2rem 0;
                        line-height: 1;
                        font-family: "Caveat", cursive;
                    }
                }
            }
        }
    }
}

.catalog-category-view {
    &.category-sale {
        .sidebar,
        .breadcrumbs,
        .page-main .columns {
            display: none !important;
        }

        .navigation {
            .ui-menu-item {
                &.black-friday {
                    .level-top {
                        color: rgba(255, 255, 255, 1) !important;
                    }
                }
            }
        }

        .page-wrapper {
            background: rgba(0, 0, 0, 1);

            .page-header.type22 {
                color: rgba(255, 255, 255, 1);

                &.sticky-header {
                    .nav-sections {
                        background-color: #1d1d1d;
                    }
                }

                .navigation {
                    .level0 {
                        .level-top {
                            color: rgba(201, 201, 201, 1);

                            &:after {
                                color: rgba(201, 201, 201, 1);
                            }
                        }
                    }

                    .ui-menu-item {
                        &.black-friday {
                            .level-top {
                                border: 1px solid rgba(232, 50, 53, 1);
                                background: rgba(232, 50, 53, 1);
                                color: rgba(255, 255, 255, 1);
                            }
                        }
                    }
                }

                .navigation .level0.parent > a:after {
                    color: rgba(201, 201, 201, 1);
                }

                .header-main {
                    background: rgba(0, 0, 0, 1);
                    padding-top: 15px;

                    .header-contact {
                        .links {
                            .greet {
                                color: rgba(201, 201, 201, 1);
                            }
                            .link {
                                & > a {
                                    color: rgba(255, 255, 255, 1);
                                }
                            }
                        }

                        .wishlist {
                            & > i {
                                &:before {
                                    color: rgba(255, 255, 255, 1);
                                }
                            }
                        }
                    }

                    .minicart-wrapper {
                        .cart-subtotal {
                            color: rgba(201, 201, 201, 1);
                        }

                        .action.showcart .minicart-icon::before {
                            color: rgba(255, 255, 255, 1);
                        }
                    }
                }

                .header-bottom {
                    &.main-menu-wrap {
                        background: rgba(29, 29, 29, 1);
                        border-top-color: rgba(0, 0, 0, 1);
                        border-bottom-color: rgba(0, 0, 0, 1);

                        .main-toggle-menu {
                            .menu-title {
                                border: none;
                                text-transform: uppercase;
                            }
                        }
                    }
                }

                .search-area {
                    .block-search {
                        border-width: 1px;
                        border-color: rgba(196, 196, 196, 1);

                        .input-text {
                            color: rgba(255, 255, 255, 1);
                            background: rgba(0, 0, 0, 1);
                            border-radius: 5px;
                        }
                    }

                    .search-toggle-icon {
                        .porto-icon-magnifier {
                            &:before {
                                color: rgba(255, 255, 255, 1);
                            }
                        }
                    }
                }
            }
        }

        .trustpilot-widget {
            display: none !important;
        }

        .items-group {
            padding: 30px 40px;

            &._odd {
                background: rgba(32, 32, 32, 1);
            }

            &-title {
                font-size: 20px;
                font-weight: 700;
                line-height: 29.23px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                margin-bottom: 20px;
                color: rgba(255, 255, 255, 1);
            }

            &-content {
                .items-content {
                    position: relative;
                    overflow: hidden;

                    .product-items {
                        display: flex;
                        flex-flow: wrap;
                        gap: 1rem;
                        align-items: stretch;
                        justify-content: left;
                        flex-direction: row;
                        overflow: auto;

                        .product-item {
                            margin: 0;
                            flex: 0 0 calc(~'(100% - 4rem) / 5');
                            max-width: calc(~'(100% - 4rem) / 5');
                            float: none;
                            height: auto;

                            .product-item-info {
                                height: 100%;
                                background-color: rgba(255, 255, 255, 1);

                                &:hover {
                                    box-shadow: none;

                                    .product-item-photo {
                                        box-shadow: none;

                                        &:hover {
                                            box-shadow: none;
                                        }
                                    }

                                    .product-labels {
                                        z-index: 2;
                                    }
                                }

                                .product-labels {
                                    top: 1rem;
                                    left: 1.5rem;
                                    z-index: 1;
                                }

                                .product-item-details {
                                    text-align: left;
                                    padding: 0 10px;

                                    .product-item-name {
                                        max-width: calc(~'(100% - 40px)');
                                        margin-bottom: 20px;
                                    }

                                    .product-reviews-summary {
                                        width: 100%;
                                    }

                                    .price-box {
                                        margin-bottom: 20px;
                                    }

                                    .product-item-actions {
                                        position: static;
                                        margin-bottom: 0;

                                        .towishlist {
                                            position: absolute;
                                            top: -8px;
                                            right: 10px;
                                            border: none;
                                            opacity: 1;
                                            visibility: visible;
                                        }

                                        .actions-primary,
                                        .tocompare {
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .more-less-shadow {
                    height: auto;
                    //background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, #202020 100%);
                    background: linear-gradient(180deg, transparent 0%, rgba(0, 0, 0, 0.4) 40%, #202020 100%);
                    z-index: 3;
                }


                .more-less-actions-wrapper {
                    position: relative;
                    z-index: 1;
                    padding-top: 35px;
                    margin-bottom: 5px;

                    span {
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 23.14px;
                        text-underline-position: from-font;
                        text-decoration-skip-ink: none;
                        text-transform: uppercase;
                        color: rgba(232, 50, 53, 1);
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .page-wrapper {
        .page-header.type22 {
            .header-bottom {
                &.main-menu-wrap {
                    .navigation {
                        .second-menu-block-mobile {
                            .ui-menu-item {
                                &.black-friday {
                                    .level-top {
                                        margin-left: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .widget.block.block-static-block {
        .topbar {
            & > div {
                z-index: 500 !important;
            }
        }
    }

    .catalog-category-view {
        &.category-sale {
            .items-group {
                &-content {
                    .items-content {
                        .items {
                            max-height: 100% !important;
                        }

                        .product-items {
                            flex-flow: nowrap;
                            justify-content: left;

                            .product-item {
                                flex-basis: 100%;
                                flex-shrink: 0;
                                flex: 0 0 65%;
                                max-width: 65%;
                            }
                        }
                    }

                    .more-less-actions-wrapper,
                    .more-less-shadow {
                        display: none;
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .page-wrapper {
        .page-header.type22 {
            .header-bottom {
                &.main-menu-wrap {
                    .navigation {
                        .second-menu-block-mobile {
                            &._with-sale {
                                .level0 {
                                    .level-top {
                                        padding: 22px 12px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .catalog-category-view {
        &.category-sale {
            .page-wrapper {
                .page-header.type22 {
                    .header-bottom {
                        &.main-menu-wrap {
                            .navigation {
                                .second-menu-block-mobile {
                                    &._with-sale {
                                        .level0 {
                                            .level-top {
                                                padding: 24px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1440px) {
    .catalog-category-view {
        &.category-sale {
            .items-group-content {
                .more-less-shadow {
                    height: 210px;
                }
            }
        }
    }
}

@media (max-width: 1440px) {
    .catalog-category-view {
        &.category-sale {
            .items-group-content {
                .more-less-shadow {
                    height: 260px;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .catalog-category-view {
        &.category-sale {
            .items-group-content {
                .items-content {
                    .product-items {
                        .product-item {
                            flex: 0 0 calc(~'(100% - 3rem) / 4');
                            max-width: calc(~'(100% - 3rem) / 4');
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .catalog-category-view {
        &.category-sale {
            .items-group-content {
                .items-content {
                    .product-items {
                        .product-item {
                            flex: 0 0 calc(~'(100% - 2rem) / 3');
                            max-width: calc(~'(100% - 2rem) / 3');
                        }
                    }
                }

                .more-less-shadow {
                    height: 220px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .catalog-category-view {
        &.category-sale {
            .items-group {
                margin-left: -20px;
                margin-right: -20px;
                padding-left: 20px;
                padding-right: 0;
            }
        }
    }
}

