<?php
/**
 * @author andy
 * @email andyworkbase@gmail.com
 * @team MageCloud
 * @package MageCloud_ProductSupplier
 */

use MageCloud\ProductSupplier\Block\Product\View\Shipping\Label;
use MageCloud\ProductSupplier\ViewModel\ProductLabel;
use Magento\Framework\Escaper;

?>
<?php
/**
 * Product shipping label template
 *
 * @var Label $block
 * @var ProductLabel $viewModel
 * @var Escaper $escaper
 */
?>
<?php
/** @var ProductLabel $viewModel */
$viewModel = $block->getData('viewModel');
?>
<?php if ($viewModel->isAvailable()): ?>
    <div class="product-shipping-label-wrapper">
        <?php $labelUrl = $escaper->escapeUrl(
                $block->getViewFileUrl('MageCloud_ProductSupplier::images/product/view/shipping/label.png')
        ); ?>
        <img src="<?= $labelUrl?>" alt="<?= /* @noEscape */ __('Express Delivery Available'); ?>"/>
    </div>
<?php endif; ?>
