Helper variables:
{% for item in array %} 
  {{ item }} => current item
  {{ forloop.length }} => length of the entire for loop
  {{ forloop.index }} => index of the current iteration 
  {{ forloop.index0 }} => index of the current iteration (zero based) 
  {{ forloop.rindex }} => how many items are still left?
  {{ forloop.rindex0 }} => how many items are still left? (zero based)
  {{ forloop.first }} => is this the first iteration?
  {{ forloop.last }} => is this the last iternation? 
{% endfor %} 

Limit and offset:
{% for item in array limit:2 offset:2 %} 
  {{ item }}
{% endfor %} 

Reversing the loop:
{% for item in array reversed %}
  {{ item }}
{% endfor %}

Range loop:
{% for i in (1..item.quantity) %}
  {{ i }}
{% endfor %}

Regular loop:
{% for article in articles %}
  {{ article.title }}
{% endfor %}

Within a pagination:
{% paginate articles by 2 %}{% for article in articles %}
  {{ article.title }}
{% endfor %}{% endpaginate %}

Should not be affected by a pagination:
{% for article in articles %}
  {{ article.title }}
{% endfor %}