{% if generator %}
    {% for number in generator %}
      - {{ number }}
    {% endfor %}
{% endif %}

{% if generator %}
    {% for number in generator %}
      - {{ number }}
    {% endfor %}
{% endif %}

{% for number in generator %}
  - {{ number }}
{% endfor %}