--
{% assign username = "John G. Chalmers-Smith" %}
{% if username and username.size > 10 %}
  Wow,
  	{{ username }}, you have a long name!
{% else %}
  Hello there!
{% endif %}
--
{%- assign username = "John G. Chalmers-Smith" -%}
{%- if username and username.size > 10 -%}
  Wow,
  	{{- username -}}, you have a long name!
{%- else -%}
  Hello there!
{%- endif -%}
--