<?php
/**
 * @author andy
 * @email andyworkbase@gmail.com
 * @team MageCloud
 * @package MageCloud_Sale
 */

/** @var SubscribePopup $block */
/** @var SecureHtmlRenderer $secureRenderer */

use MageCloud\Sale\Block\SubscribePopup;
use Magento\Framework\View\Helper\SecureHtmlRenderer;

?>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital@0;1&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital@0;1&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">

<a href="#" data-role="process-sale-access"></a>

<div id="magecloudSaleSubscribePopup" data-bind="scope:'magecloudSaleSubscribePopup', style: {display: 'none'}">
    <?php $scriptString = 'window.magecloudSaleSubscribePopup = ' . /* @noEscape */ $block->getSerializedConfig(); ?>
    <?= /* @noEscape */ $secureRenderer->renderTag('script', [], $scriptString, false); ?>
    <!-- ko template: getTemplate() --><!-- /ko -->
    <?php // phpcs:ignore Magento2.Legacy.PhtmlTemplate ?>
    <script type="text/x-magento-init">
        {
            "#magecloudSaleSubscribePopup": {
                "Magento_Ui/js/core/app": <?= /* @noEscape */ $block->getJsLayout() ?>
            },
            "*": {
                "Magento_Ui/js/block-loader": "<?= $block->escapeJs($block->escapeUrl($block->getViewFileUrl(
            'images/loader-1.gif'
        ))) ?>"
            }
        }
    </script>
</div>