<?php
/**
 * @author andy
 * @email andyworkbase@gmail.com
 * @team MageCloud
 * @package MageCloud_ProductSupplier
 */
?>

<?php
/**
 * @var \Magento\Framework\View\Element\Template $block
 * @var \Magento\Framework\Escaper $escaper
 */
?>
<?php
/** @var \Amasty\Preorder\ViewModel\Quote\Item\PreorderInformation $preorderInformationViewModel */
$preorderInformationViewModel = $block->getData('preorder_information_view_model');
/** @var \Magento\Quote\Api\Data\CartItemInterface $quoteItem */
$quoteItem = $block->getData('item');
/** @var \Amasty\Preorder\Api\Data\CartItemInformationInterface $preorderInformation */
$preorderInformation = $preorderInformationViewModel->getPreorderInformation($quoteItem);
/** @var \MageCloud\ProductSupplier\Helper\Product $productHelper */
$productHelper = $this->helper(\MageCloud\ProductSupplier\Helper\Product::class);
?>
<?php if ($preorderInformation->isPreorder()): ?>
    <div class="ampreorder-note"><?= /** @noEscape  */ $preorderInformation->getNote() ?></div>
<?php else: ?>
    <div class="additional-note">
        <div class="shipping-options">
            <div class="item">
                <strong class="label"><?= /** @noEscape  */ __('Fastest Shipping Service:') ?></strong>
                <span class="value"><?= /** @noEscape  */ __('Express 1-2 Days') ?></span>
            </div>
            <div class="item">
                <strong class="label"><?= /** @noEscape  */ __('Click & Collect:') ?></strong>
                <span class="value"><?= /** @noEscape  */ __('Collect from store approx 1 Hr.') ?></span>
            </div>
        </div>
    </div>
<?php endif; ?>