<!--
/**
 * Copyright © MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<div data-bind="visible: isVisible, css: { 'mw-dd—has-buttons': hasButtonsClass }" id="delivery-datetime-container">
    <each args="data: elems, as: 'element'">
        <render if="hasTemplate()"/>
    </each>
</div>