<!--
/**
 * Copyright © MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<div data-bind="visible: isVisible" id="delivery-comment-container">
    <each args="data: elems, as: 'element'">
        <render if="hasTemplate()"/>
    </each>
</div>