<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Template for displaying products list widget
 *
 * @var $block \Magento\CatalogWidget\Block\Product\ProductsList
 */
?>
<?php if ($exist = ($block->getProductCollection() && $block->getProductCollection()->getSize())):?>
    <?php
    $_productCollection = $block->getLoadedProductCollection();
    $_helper = $this->helper('Magento\Catalog\Helper\Output');
    $_imagehelper = $this->helper('Magento\Catalog\Helper\Image');

    $_category_config = $this->helper('Smartwave\Porto\Helper\Data')->getConfig('porto_settings/category');
    $_category_grid_config = $this->helper('Smartwave\Porto\Helper\Data')->getConfig('porto_settings/category_grid');
    $_product_label_config = $this->helper('Smartwave\Porto\Helper\Data')->getConfig('porto_settings/product_label');

    $_portohelper = $this->helper('Smartwave\Porto\Helper\Data');
    $_lazyload = $_portohelper->getConfig('porto_settings/optimization/lazyload');
    ?>
    <?php
    $type = 'widget-product-grid';

    $mode = 'grid';

    $image = 'category_page_grid';
    $hover_image = 'category_page_grid-hover';
    $title = $block->getTitle() ? __($block->getTitle()) : '';
    $items = $block->getProductCollection()->getItems();

    $showWishlist = true;
    $showCompare = true;
    $showCart = true;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
    $description = false;

    $image_width = ($_category_config['ratio_width'])?$_category_config['ratio_width']:300;
    $image_height = ($_category_config['ratio_height'])?$_category_config['ratio_height']:300;
    $aspect_ratio = $_category_config['aspect_ratio'];
    if($aspect_ratio)
        $image_height = $image_width;
    ?>
    <div class="block widget block-products-list <?php /* @escapeNotVerified */ echo $mode; ?>">
        <?php if ($title):?>
            <div class="block-title">
                <strong><?php /* @escapeNotVerified */ echo $title; ?></strong>
            </div>
        <?php endif ?>
        <div class="block-content">
            <?php /* @escapeNotVerified */ echo '<!-- ' . $image . '-->' ?>
            <div class="products-grid products-<?php /* @escapeNotVerified */ echo $mode; ?> <?php /* @escapeNotVerified */ echo $mode; ?>">
                <ol class="product-items <?php /* @escapeNotVerified */ echo $type; ?>">
                    <?php $iterator = 1; ?>
                    <?php foreach ($items as $_item): ?>
                        <?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<li class="product-item">' : '</li><li class="product-item">' ?>
                        <div class="product-item-info">
                            <?php
                            $in_store = $_item->getResource()->getAttribute('in_store')->getFrontend()->getValue($_item);
                            if($in_store == 'Yes'):?>
                            <?php endif; ?>
                            <a href="<?php echo $_item->getProductUrl() ?>" tabindex="-1">
                                <?php
                                if($aspect_ratio)
                                    $productImage = $_imagehelper->init($_item, $image)->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize($image_width);
                                else
                                    $productImage = $_imagehelper->init($_item, $image)->resize($image_width, $image_height);
                                $productImageUrl = $productImage->getUrl();
                                if (strpos($productImageUrl, 'cache') !== false) {
                                    $productImageUrl = str_replace(
                                        '45087ff8e341611d7fc2e4aaf4172bf5',
                                        '47cfcfb589bd2cad9082c18b394b52ae',
                                        $productImageUrl
                                    );
                                }

                                //compare with Mageplaza ImageOptimizer
                                $helperMageplaza = $this->helper(\Mageplaza\ImageOptimizer\Helper\Data::class);
                                $info = $helperMageplaza->getPathInfo($productImageUrl);
                                if(isset($info['dirname']) && $info['dirname'] && stristr($info['dirname'], 'catalog/product')) {
                                    // "dirname":"https:\/\/gwleisure.com\/media\/catalog\/product\/mpiowebpcache\/45087ff8e341611d7fc2e4aaf4172bf5\/s\/f"
                                    $splitDir = explode('catalog/product/', $info['dirname']);
                                    if (isset($splitDir[1])) {
                                        $pathAfterCache = $splitDir[1];
                                        $splitCachePath = explode('/', $pathAfterCache);
                                        if(count($splitCachePath) > 2) {
                                            $info['dirname'] = $splitDir[0] . 'catalog/product/'. $splitCachePath[count($splitCachePath) - 2] . '/' . $splitCachePath[count($splitCachePath) - 1];
                                            $currentPath = getcwd() . '/media/catalog/product/'. $splitCachePath[count($splitCachePath) - 2] . '/' . $splitCachePath[count($splitCachePath) - 1]. '/' . $info['filename'] . '.webp';
                                        }
                                    }

                                }
                                try {
                                    $storeId = $this->helper(\Magento\Store\Model\StoreManagerInterface::class)->getStore()->getId();
                                } catch (Exception $e) {
                                    $storeId = null;
                                }

                                if ($helperMageplaza->isEnabled($storeId)
                                    && $helperMageplaza->isReplaceWebpImage() && isset($info['extension'])) {
                                    $newUrl  = $info['dirname'] . '/' . $info['filename'] . '.webp';
                                    if (isset($currentPath) && $helperMageplaza->fileExists($currentPath)) {
                                        $productImageUrl = $newUrl;
                                    }
                                }
                                // $this->helper(\Magento\Framework\Data\Helper\PostHelper::class)
                                //compare with Mageplaza ImageOptimizer
                                ?>
                                <img class="product-image-photo default_image" src="<?php echo $productImageUrl; ?>" width="<?php echo $image_width; ?>" height="<?php echo $image_height; ?>" alt=""/>
                                <?php if($_category_config['alternative_image']): ?>
                                    <?php
                                    if($aspect_ratio)
                                        $productHoverImage = $_imagehelper->init($_item, $hover_image)->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize($image_width);
                                    else
                                        $productHoverImage = $_imagehelper->init($_item, $hover_image)->resize($image_width, $image_height);
                                    $productHoverImageUrl = $productHoverImage->getUrl();
                                    if (strpos($productHoverImageUrl, 'cache') !== false) {
                                        $productHoverImageUrl = str_replace(
                                            '45087ff8e341611d7fc2e4aaf4172bf5',
                                            '47cfcfb589bd2cad9082c18b394b52ae',
                                            $productHoverImageUrl
                                        );
                                    }

                                    //compare with Mageplaza ImageOptimizer
                                    $helperMageplaza = $this->helper(\Mageplaza\ImageOptimizer\Helper\Data::class);
                                    $info = $helperMageplaza->getPathInfo($productHoverImageUrl);

                                    if(isset($info['dirname']) && $info['dirname'] && stristr($info['dirname'], 'catalog/product')) {
                                        // "dirname":"https:\/\/gwleisure.com\/media\/catalog\/product\/mpiowebpcache\/45087ff8e341611d7fc2e4aaf4172bf5\/s\/f"
                                        $splitDir = explode('catalog/product/', $info['dirname']);
                                        if (isset($splitDir[1])) {
                                            $pathAfterCache = $splitDir[1];
                                            $splitCachePath = explode('/', $pathAfterCache);
                                            if(count($splitCachePath) > 2) {
                                                $info['dirname'] = $splitDir[0] . 'catalog/product/'. $splitCachePath[count($splitCachePath) - 2] . '/' . $splitCachePath[count($splitCachePath) - 1];
                                                $currentPath = getcwd() . '/media/catalog/product/'. $splitCachePath[count($splitCachePath) - 2] . '/' . $splitCachePath[count($splitCachePath) - 1]. '/' . $info['filename'] . '.webp';
                                            }
                                        }

                                    }
                                    try {
                                        $storeId = $this->helper(\Magento\Store\Model\StoreManagerInterface::class)->getStore()->getId();
                                    } catch (Exception $e) {
                                        $storeId = null;
                                    }

                                    if ($helperMageplaza->isEnabled($storeId)
                                        && $helperMageplaza->isReplaceWebpImage() && isset($info['extension'])) {
                                        $newUrl  = $info['dirname'] . '/' . $info['filename'] . '.webp';
                                        if (isset($currentPath) && $helperMageplaza->fileExists($currentPath)) {
                                            $productHoverImageUrl = $newUrl;
                                        }
                                    }
                                    //compare with Mageplaza ImageOptimizer
                                    ?>
                                    <?php if($productImageUrl != str_replace("/thumbnail/","/small_image/",$productHoverImageUrl)): ?>
                                        <img class="product-image-photo hover_image" src="<?php echo $productHoverImageUrl; ?>" width="<?php echo $image_width; ?>" height="<?php echo $image_height; ?>" alt="<?php //echo $productHoverImage->getLabel();?>"/>
                                    <?php endif; ?>
                                <?php endif; ?>
                            </a>

                            <?php
                            $product_label = "";
                            if($_product_label_config['sale_label']) {
                                $orgprice = $_item->getPrice();
                                $specialprice = $_item->getSpecialPrice();
                                $specialfromdate = $_item->getSpecialFromDate();
                                $specialtodate = $_item->getSpecialToDate();
                                $today = time();
                                if(!$specialprice)
                                    $specialprice = $orgprice;
                                if($specialprice < $orgprice) {
                                    if((is_null($specialfromdate) && is_null($specialtodate)) || ($today >= strtotime($specialfromdate) && is_null($specialtodate)) || ($today <= strtotime($specialtodate) && is_null($specialfromdate)) || ($today >= strtotime($specialfromdate) && $today <= strtotime($specialtodate))){
                                        if($_product_label_config['sale_label_percent']) {
                                            $save_percent = 100-round(($specialprice/$orgprice)*100);
                                            $product_label .= '<div class="product-label sale-label">'.'-'.$save_percent.'%'.'</div>';
                                        } else {
                                            $product_label .= '<div class="product-label sale-label">'.$_product_label_config['sale_label_text'].'</div>';
                                        }
                                    }
                                }
                            }
                            if($_product_label_config['new_label']) {
                                $now = date("Y-m-d");
                                $newsFrom = $newsTo = '';
                                $news_from_date = $_item->getData('news_from_date');
                                if ($news_from_date) {
                                    $newsFrom = substr($news_from_date,0,10);
                                }
                                $news_to_date = $_item->getData('news_to_date');
                                if ($news_to_date) {
                                    $newsTo = substr($news_to_date,0,10);
                                }
                                if ($newsTo != '' || $newsFrom != ''){
                                    if (($newsTo != '' && $newsFrom != '' && $now>=$newsFrom && $now<=$newsTo) || ($newsTo == '' && $now >=$newsFrom) || ($newsFrom == '' && $now<=$newsTo)) {
                                        $product_label .= '<div class="product-label new-label">'.$_product_label_config['new_label_text'].'</div>';
                                    }
                                }
                            }
                            if($product_label)
                                echo '<div class="product-labels">'.$product_label.'</div>';
                            ?>

                            <div class="product-item-details">
                                <strong class="product-item-name">
                                    <a title="<?php echo $block->escapeHtml($_item->getName()) ?>"
                                       href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_item) ?>"
                                       class="product-item-link">
                                        <?php echo $block->escapeHtml($_item->getName()) ?>
                                    </a>
                                </strong>

                                <?php if($_category_config['rating_star']): ?>
                                    <?php
                                    $review_html = $block->getReviewsSummaryHtml($_item, $templateType);
                                    ?>
                                    <?php if($review_html): ?>
                                        <?php echo $review_html; ?>
                                    <?php else: ?>
                                        <div class="product-reviews-summary short">
                                            <div class="rating-summary">
                                                <span class="label"><span>Rating:</span></span>
                                                <div class="rating-result" title="0%">
                                                    <span style="width:0"><span>0%</span></span>
                                                </div>
                                            </div>
                                        </div>
                                    <?php endif; ?>
                                <?php endif; ?>

                                <?php if($_category_config['product_price']): ?>
                                    <?php echo $block->getProductPriceHtml($_item, $type); ?>
                                <?php endif; ?>

                                <?php if($_category_config['actions']): ?>
                                    <?php if ($showWishlist || $showCompare || $showCart): ?>
                                        <div class="product-item-actions">
                                            <?php if($_category_config['addtowishlist']): ?>
                                                <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
                                                    <a href="#"
                                                       data-post='<?php /* @escapeNotVerified */ echo $block->getAddToWishlistParams($_item); ?>'
                                                       class="action towishlist actions-secondary" data-action="add-to-wishlist"
                                                       title="<?php /* @escapeNotVerified */ echo __('Add to Wish List') ?>">
                                                        <span><?php /* @escapeNotVerified */ echo __('Add to Wish List') ?></span>
                                                    </a>
                                                <?php endif; ?>
                                            <?php endif; ?>
                                            <?php if ($showCart): ?>
                                                <div class="actions-primary">
                                                    <?php if ($_item->isSaleable()): ?>
                                                        <?php if ($_item->getTypeInstance()->hasRequiredOptions($_item)): ?>
                                                            <button class="action tocart primary"
                                                                    data-mage-init='{"redirectUrl":{"url":"<?php /* @escapeNotVerified */ echo $block->getAddToCartUrl($_item) ?>"}}'
                                                                    type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
                                                                <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                                            </button>
                                                        <?php else: ?>
                                                            <?php
                                                            $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
                                                            $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()])
                                                            ?>
                                                            <button class="action tocart primary"
                                                                    data-post='<?php /* @escapeNotVerified */ echo $postData; ?>'
                                                                    type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
                                                                <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                                            </button>
                                                        <?php endif; ?>
                                                    <?php else: ?>
                                                        <?php if ($_item->getIsSalable()): ?>
                                                            <div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
                                                        <?php else: ?>
                                                            <div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
                                                        <?php endif; ?>
                                                    <?php endif; ?>
                                                </div>
                                            <?php endif; ?>
                                            <?php if($_category_config['addtocompare']): ?>
                                                <?php if ($block->getAddToCompareUrl() && $showCompare): ?>
                                                    <?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');?>
                                                    <a href="#" class="action tocompare actions-secondary"
                                                       data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_item);?>'
                                                       title="<?php /* @escapeNotVerified */ echo __('Add to Compare') ?>">
                                                        <span><?php /* @escapeNotVerified */ echo __('Add to Compare') ?></span>
                                                    </a>
                                                <?php endif; ?>
                                            <?php endif; ?>
                                        </div>
                                    <?php endif; ?>
                                <?php endif; ?>
                            </div>
                        </div>
                        <?php echo($iterator == count($items)+1) ? '</li>' : '' ?>
                    <?php endforeach ?>
                </ol>
            </div>
            <?php echo $block->getPagerHtml() ?>
        </div>
    </div>
<?php endif;?>