//
// @author andy
// @email andyworkbase@gmail.com
// @team MageCloud
// @package MageCloud_ProductSupplier

//
//  Common
//  _____________________________________________

.product.media {
    position: relative;

    .product-shipping-label-wrapper {
        position: absolute;
        left: 10px;
        top: 10px;
    }
}

.product-info-main {
    & > .additional-note {
        display: none;
    }

    .mw-deliverydate-info {
        display: none;
    }
}

.opc-block-summary {
    .minicart-items {
        .product-item {
            .preorder_note {
                margin-left: 50px !important;
            }
        }
    }
}

