
.mp-simple, .mp-complex {
    margin-top: 20px;
}

.mp-complex .page-title {
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 2.8rem;
    line-height: 1.1;
    margin-bottom: 20px;
    padding: 12px 10px;
}

.mp-complex .addthis-share, .mp-complex .mp-actions-toolbar {
    margin: 12px 0;
}

.mp-complex table.table-order-review {
    border-top: 1px solid #cccccc;
    margin: 0 -20px;
    overflow-x: auto;
    padding: 15px;
}

.order-addresses {
    display: flex;
    justify-content: center;
}

.mp-order-detail {
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 1px #808080;
    padding: 5px;
}

.mp-complex .mp-block-heading {
    font-size: 16px;
    box-sizing: border-box;
}

@media (min-width: 321px) and (max-width: 480px) {
    .mp-complex .mp-order-detail h3.mp-block-heading {
        font-size: 17px;
    }
}

@media (max-width: 320px) {
    .mp-complex .mp-order-detail {
        font-size: 10px;
    }

    .mp-complex .mp-order-detail h3.mp-block-heading {
        font-size: 14px;
    }
}

.mp-complex tfoot.order-totals {
    background: #f5f5f5;
}

@media (min-width: 481px) and (max-width: 767px) {
    .mp-newsletter .field.newsletter {
        width: 375px;
    }
}

.mp-newsletter .title, .mp-newsletter .content, .mp-newsletter .content .actions {
    margin-top: 1rem;
}

.mp-simple .mp-actions-toolbar, .mp-simple .order-coupons, #registration, .mp-newsletter {
    margin: 10px;
}

.mp-complex .mp-coupon {
    color: #1979c3;;
}


.owl-item li.product-slider {
    width: 100% !important;
}

.mp-product-slider-title {
    font-size: 3.8rem;
    position: relative;
    z-index: 1;
    margin: 0 0 5px;
    text-align: center;
    display: block;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

.mp-product-slider-block {
    margin: 0 !important;
}

.col-mp {
    padding: 0 5px;
}