
.mp-simple {
    text-align: center;
}

.mp-simple .page-title {
    font-weight: bold;
}

.order-addresses {
    display: flex;
    justify-content: center;
}

.mp-order-detail {
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 1px #808080;
    padding: 5px;
}

@media (min-width: 321px) and (max-width: 480px) {
    .mp-simple .mp-order-detail h3.mp-block-heading {
        font-size: 17px;
    }
}

@media (max-width: 320px) {
    .mp-simple .mp-order-detail {
        font-size: 10px;
    }

    .mp-simple .mp-order-detail h3.mp-block-heading {
        font-size: 14px;
    }
}

.mp-simple .additional {
    margin: 15px 0;
}

.mp-block-1, .mp-block-2 {
    margin: 10px 0;
}

.mp-simple .mp-actions-toolbar, .mp-simple .order-coupons, #registration, .mp-newsletter {
    margin: 10px;
}

.mp-simple .mp-coupon {
    color: #eb5202;
}

@media (min-width: 481px) and (max-width: 767px) {
    .mp-newsletter .field.newsletter {
        width: 375px;
    }
}

.mp-newsletter .title, .mp-newsletter .content, .mp-newsletter .content .actions {
    margin-top: 1rem;
}

.mp-simple, .mp-complex {
    margin-top: 20px;
}


.owl-item li.product-slider {
    width: 100% !important;
}

.mp-product-slider-title {
    font-size: 3.8rem;
    position: relative;
    z-index: 1;
    margin: 0 0 5px;
    text-align: center;
    display: block;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

.mp-product-slider-block {
    margin: 0 !important;
}

.col-mp {
    padding: 0 5px;
}