<!--
/**
 * Copyright © MageWorx. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div data-bind="if: options">
    <div class="data-row" data-bind="foreach: {data: options, as: 'option'}">
        <div class="delivery-date-cell">
            <input class=""
                type="radio"
                data-bind="
                        attr: {
                            name: $parent.inputName,
                            id: 'delivery-date-time' + $index(),
                            checked: option.value == $parent.value(),
                            disabled: $parent.disabled
                        },
                        value: option.value,
                        click: $parent.updateRadioValue"
            >
                <label data-bind="html: option.label, attr: { for: 'delivery-date-time' + $index() }">
                </label>
            </input>
        </div>
    </div>
</div>
